<%= simple_form_for @service, defaults: { label_html: { class: 'labels' } } do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">
    <%= f.input :name, required: false, label: 'Nom (Obligatoire)'%>
    <%= f.input :description, required: false, label: 'Description (Obligatoire)'%>
    <%= f.input :adhesion_fee, required: false, label: "Prix de l'adhésion (Obligatoire)"%>
    <%= f.input :photo, required: false, label: 'Image (Obligatoire)' %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="validate">
      <%= f.button :submit, 'valider', class: "btn btn-medium-white last-item" %>
    </div>
  </div>
<% end %>
