<%= simple_form_for @service, defaults: { label_html: { class: 'labels' } } do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">
    <%= f.input :name, required: false, placeholder: t(".placeholder_1", default: "Obligatoire") %>
    <%= f.input :description, required: false, placeholder: t(".placeholder_1", default: "Obligatoire") %>
    <%= f.input :adhesion_fee, required: false, placeholder: t(".placeholder_1", default: "Obligatoire") %>
    <%= f.input :photo, required: false %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "btn btn-medium last-item" %>
  </div>
<% end %>
