<%= simple_form_for @artist, defaults: { label_html: { class: 'labels' } } do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">
    <%= f.input :name, required: false, placeholder: 'we need one' %>
    <%= f.input :city, required: false, placeholder: 'we need one'%>
    <%= f.input :number_of_musicians, required: false, collection: 1..12 %>
    <%= f.association :genre, required: false, placeholder: 'we need one'%>
    <%= f.input :bookable, as: :boolean %>
    <%= f.input :contact, placeholder: 'band@gmail.com' %>
    <%= f.input :bio, required: false, placeholder: 'we need these few words (max 140 characters)', input_html: { maxlength: 140 }%>
    <%= f.input :year_of_creation, required: false, collection: 1990..2017 %>
    <%= f.input :facebook_link, required: false, placeholder: 'we need one' %>
    <%= f.input :bandcamp_link, placeholder: "optional, but you'd better have one to give" %>
    <%= f.input :soundcloud_link, placeholder: "optional, but you'd better have one to give" %>
    <%= f.input :youtube_channel, placeholder: "optional, but you'd better have one to give"%>
    <%= f.input :insta_link, placeholder: "optional, but you'd better have one to give"%>
    <%= f.input :twitter_link, placeholder: "optional, but you'd better have one to give" %>
    <%= f.input :photo, required: false %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :mp3, as: :attachinary %>
    <%= f.button :submit, class: "btn btn-medium last-item" %>
  </div>
<% end %>

