<%= simple_form_for @artist, defaults: { label_html: { class: 'labels' } } do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">
    <%= f.input :name, required: false, placeholder: t(".placeholder_1", default: "Obligatoire") %>
    <%= f.input :city, required: false, placeholder: t(".placeholder_1", default: "Obligatoire") %>
    <%= f.association :county, required: false %>
    <%= f.association :genre, required: false, placeholder: t(".placeholder_1", default: "Obligatoire") %>
    <%= f.input :number_of_musicians, required: false, collection: 1..12 %>
    <%= f.input :contact, placeholder: 'band@gmail.com ou 06 .. .. .. ..' %>
    <%= f.input :year_of_creation, required: false, collection: 1990..2018 %>
    <%= f.input :photo, required: false %>
    <%= f.input :photo_cache, as: :hidden %>
    <% if current_user.admin? %>
      <%= f.input :mp3, as: :attachinary %>
    <% end %>
    <%= f.input :bookable, as: :boolean %>
    <%= f.button :submit, class: "btn btn-medium-white last-item" %>
  </div>
<% end %>

