<% if @artist.user == current_user %>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.facebook.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-facebook-square social-links icon" data-toggle="modal" data-target="#fb"></i>
        <%= link_to @artist.facebook.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.facebook.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#fb">
      <i class="fa fa-facebook-square social-links icon"></i>
        Cliquez ici pour ajouter Facebook
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.twitter.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-twitter social-links icon" data-toggle="modal" data-target="#twitter"></i>
        <%= link_to @artist.twitter.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.twitter.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#twitter">
      <i class="fa fa-twitter social-links icon"></i>
        Cliquez ici pour ajouter Twitter
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.instagram.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-instagram social-links icon" data-toggle="modal" data-target="#instagram"></i>
        <%= link_to @artist.instagram.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.instagram.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#instagram">
      <i class="fa fa-instagram social-links icon"></i>
        Cliquez ici pour ajouter Instagram
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.youtube.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-youtube-play social-links icon" data-toggle="modal" data-target="#youtube"></i>
        <%= link_to @artist.youtube.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.youtube.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#youtube">
      <i class="fa fa-youtube-play social-links icon"></i>
        Cliquez ici pour ajouter Youtube
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.bandcamp.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-bandcamp social-links icon" data-toggle="modal" data-target="#bandcamp"></i>
        <%= link_to @artist.bandcamp.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.bandcamp.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#bandcamp">
      <i class="fa fa-bandcamp social-links icon"></i>
        Cliquez ici pour ajouter Bandcamp
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.soundcloud.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-soundcloud social-links icon" data-toggle="modal" data-target="#soundcloud"></i>
        <%= link_to @artist.soundcloud.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.soundcloud.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#soundcloud">
      <i class="fa fa-soundcloud social-links icon"></i>
        Cliquez ici pour ajouter Soundcloud
      </div>
    <% end %>
  </div>

<% else %>

  <% if @artist.facebook.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.facebook.link, target: :_blank do %>
        <div class="url modal-trigger">
          <i class="fa fa-facebook-square social-links icon"></i>
          <%= "#{@artist.facebook.link}" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @artist.instagram.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.instagram.link, target: :_blank do %>
        <div class="url modal-trigger">
          <i class="fa fa-instagram social-links icon"></i>
          <%= "#{@artist.instagram.link}" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @artist.soundcloud.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.soundcloud.link, target: :_blank do %>
        <div class="url modal-trigger">
          <i class="fa fa-soundcloud social-links icon"></i>
          <%= "#{@artist.soundcloud.link}" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @artist.twitter.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.twitter.link, target: :_blank do %>
        <div class="url modal-trigger">
          <i class="fa fa-twitter social-links icon"></i>
          <%= "#{@artist.twitter.link}" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @artist.youtube.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.youtube.link, target: :_blank do %>
        <div class="url modal-trigger">
          <i class="fa fa-youtube-play social-links icon"></i>
          <%= "#{@artist.youtube.link}" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @artist.bandcamp.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.bandcamp.link, target: :_blank do %>
        <div class="url modal-trigger">
          <i class="fa fa-bandcamp social-links icon"></i>
          <%= "#{@artist.bandcamp.link}" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="modal fade" id="soundcloud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLongTitle">soundcloud</div>
        <div class="modal-body">
          <%= render 'soundclouds/form', artist: @artist, soundcloud: @soundcloud %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="twitter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLongTitle">twitter</div>
        <div class="modal-body">
          <%= render 'twitters/form', artist: @artist, twitter: @twitter %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="instagram" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLongTitle">instagram</div>
        <div class="modal-body">
          <%= render 'instagrams/form', artist: @artist, instagram: @instagram %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="youtube" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLongTitle">youtube</div>
        <div class="modal-body">
          <%= render 'youtubes/form', artist: @artist, youtube: @youtube %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bandcamp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLongTitle">bandcamp</div>
        <div class="modal-body">
          <%= render 'bandcamps/form', artist: @artist, bandcamp: @bandcamp %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLongTitle">facebook</div>
        <div class="modal-body">
          <%= render 'facebooks/form', artist: @artist, facebook: @facebook %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLongTitle">contact</div>
        <div class="modal-body">
          <%= render 'contacts/form', contact: @contact %>
        </div>
      </div>
    </div>
  </div>
</div>

