<% if @artist.user == current_user %>
  <div class="row">
    <div class="col-lg-12">
      <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6" data-toggle="modal" data-target="#bands">
        <%= t(".band") %>
      </h4>
      <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6" data-toggle="modal" data-target="#prods">
        <%= t(".prod") %>
      </h4>
      <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6" data-toggle="modal" data-target="#shows">
        <%= t(".show") %>
      </h4>
      <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6" data-toggle="modal" data-target="#videos">
        <%= t(".video") %>
      </h4>
    </div>
  </div>

  <div class="modal fade" id="bands" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle"><%= t(".edit_artist") %></div>
          <div class="modal-body">
            <%= render 'form', artist: @artist %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="insta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle">insta</div>
          <div class="modal-body">
            <%= render 'instagrams/form', artist: @artist, instagram: @instagram %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="soundcloud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle">soundcloud</div>
          <div class="modal-body">
            <%= render 'soundclouds/form', artist: @artist, soundcloud: @soundcloud %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="twitter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle">twitter</div>
          <div class="modal-body">
            <%= render 'twitters/form', artist: @artist, twitter: @twitter %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="youtube" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle">youtube</div>
          <div class="modal-body">
            <%= render 'youtubes/form', artist: @artist, youtube: @youtube %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="prods" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle"><%= t(".create_release") %></div>
          <div class="modal-body">
            <%= render 'releases/form_artist', release: @release %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="shows" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle"><%= t(".create_performance") %></div>
          <div class="modal-body">
            <%= render 'performances/form_artist', performance: @performance %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="videos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle"><%= t(".create_video") %></div>
          <div class="modal-body">
            <%= render 'videos/form_artist', video: @video %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <br>
  <div class="row">
    <% if @artist.ratings.blank? %>
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-8 col-lg-offset-3 col-lg-6 tabs">
        <p class="tab col-lg-12" data-toggle="modal" data-target="#rate" style="text-align: center;"><%=t(".Be_the_first") %><%= @artist.name %>
        </p>
      </div>
    <% else %>
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-8 col-lg-offset-3 col-lg-6 tabs">
        <p class="tab col-lg-12" data-toggle="modal" data-target="#rate" style="text-align: center;"><%=t(".Press_to_rate") %><%= @artist.name %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="modal fade" id="rate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle"><%= t(".rating") %></div>
          <div class="modal-body">
            <%= render 'ratings/form', artist: @artist, rating: @rating %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".close") %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


