<!--barre de recherche-->
<div class="negative">
  <div class="artist_search">
    <%= form_tag(artists_path, method: :get) do %>
      <%= text_field_tag :search, nil, placeholder: "Search artists ...(use a keyword, a city or the number of musicians)", class: "form-control" %>
      <%= submit_tag 'Search', style: "display: none;" %>
    <% end %>
  </div>
</div>
<!--banner-->
<div class="banner">
<!--section d'ensemble-->
  <div class="container results">
    <div class="row">
      <% @artists.each do |a|%>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="main">
            <div class="card">
              <%= render "artist", artist: a %><br>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!-- <% @performances.each do |performance|%>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
    <div class="[ info-card ]">
      <%= link_to performance do %>
        <div class="info" id="perf">
          <h1>-<%= performance.artist.name%>-</h1>
          <h1>-<%= performance.city.capitalize%>-</h1>
          <h1><%= performance.start_time.strftime('%d %B %Y') %></h1>
          <h1><%= performance.place_address %></h1>
          <h1><%= performance.price %></h1>
          <h1><%= performance.facebook_event %></h1>
        </div>
      <% end %>
    </div>
  </div>
<% end %> -->



