<% content_for :meta_title, "#{@artist.name} est sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @artist.bio %>
<% content_for :meta_image, @artist.photo %>

<div class="show-wallpapers profil-page">
  <div class="container">
    <hr class="user">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <%= cl_image_tag @artist.photo, height: 700, width: 700, crop: :fill, class: "img-responsive"%>
        <div class="quality">
          <%= @artist.name.upcase %>
          <div class="ratings">
            <%= @artist.average_stars %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 head">
            <p class="profil-details col-lg-4">Details</p>
            <hr class="user col-lg-6">
            <h1 class="profil-title">Présentation</h1>
            <p class="profil-details"><%= t(".number_of_musicians")%>: <%= @artist.number_of_musicians %></p>
            <p class="profil-details"><%= t(".genre")%>: <%= @artist.genre.name %></p>
            <% if @artist.year_of_creation.present?  %>
              <p class="profil-details"><%= t(".creation_date")%>: <%= @artist.year_of_creation %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 head">
            <p class="profil-details col-lg-4">Localisation</p>
            <hr class="user col-lg-6">
            <h1 class="profil-title">Origine</h1>
            <p class="profil-details"><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= @artist.city.capitalize %></p>
            <p class="profil-details"><%= t(".county")%>: <%= @artist.county.name %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 head">
            <p class="profil-details col-lg-5">Networks</p>
            <hr class="user col-lg-5">
            <h1 class="profil-title">Retrouvez les sur</h1>
            <%= render 'social_networks' %>
          </div>
        </div>
      </div>
    </div>
    <hr class="user">

    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 ">
        <h1 class="profil-title quality">Biographie</h1>
          <%= render 'bio' %>
        <div class="quality">
          <%= social_share_button_tag(@artist.name, :allow_sites => %w(facebook tumblr pinterest email linkedin twitter), :rel => "modernboxrecords", :url => "https://modernboxrecords.com/artists/#{@artist.id}", :image => "#{@artist.photo}", desc: "#{@artist.bio}", via: "Modernboxrecords") %>
        </div>
      </div>
    </div>
    <hr class= "user">

    <% if @artist.mp3? %>
      <div class="row">
        <div class="quality">
          <% mp3 = @artist.mp3.path %>
          <audio controls>
            <source src=<%= cl_video_path(mp3) %> type="audio/mpeg">
          </audio>
        </div>
      </div>
      <hr class="user">
    <% end %>

    <div class="row">
      <%= render 'tabs' %>
    </div>
    <hr class="user">

    <div class="row">
      <% if @artist.releases.present? %>
        <div class="col-lg-12">
          <h2>PRODS</h2>
          <hr class="user">
        </div>
        <% @artist.releases.each do |release| %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <div class="main">
              <%= render "releases/release", release: release %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <% if @artist.videos.present? %>
        <div class="col-lg-12">
          <h2>VIDEOS</h2>
          <hr class="user">
        </div>
        <% @artist.videos.each do |video| %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <div class="main">
              <%= render "videos/video", video: video %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <% if @artist.performances.present? %>
        <div class="col-lg-12">
          <h2>CONCERTS</h2>
          <hr class="user">
        </div>
        <% @artist.performances.each do |performance| %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <div class="main">
              <%= render "performances/performance", performance: performance %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <hr class="user">
  </div>
  <%= render 'shared/footer' %>
</div>








