<% content_for :meta_title, "#{@artist.name} est sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @artist.bio %>
<% content_for :meta_image, @artist.photo %>

<div class="show-wallpapers profil-page">
  <div class="container">
    <hr class="user">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <%= cl_image_tag @artist.photo, height: 700, width: 700, crop: :fill, class: "img-responsive"%>
        <div class="quality">
          <%= @artist.name.upcase %>
          <div class="ratings">
            <%= @artist.average_stars %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 head">
            <p class="profil-details col-lg-4">Details</p>
            <hr class="user col-lg-6">
            <h1 class="profil-title">Présentation</h1>
            <p class="profil-details"><%= t(".number_of_musicians")%>: <%= @artist.number_of_musicians %></p>
            <p class="profil-details"><%= t(".genre")%>: <%= @artist.genre.name %></p>
            <p class="profil-details"><%= t(".creation_date")%>: <%= @artist.year_of_creation %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 head">
            <p class="profil-details col-lg-4">Localisation</p>
            <hr class="user col-lg-6">
            <h1 class="profil-title">Origine</h1>
            <p class="profil-details"><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= @artist.city.capitalize %></p>
            <p class="profil-details"><%= t(".county")%>: <%= @artist.county.name %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 head">
            <p class="profil-details col-lg-5">Networks</p>
            <hr class="user col-lg-5">
            <h1 class="profil-title">Retrouvez les sur</h1>
            <%= render 'shared/social-networks' %>
          </div>
        </div>
      </div>
    </div>
    <hr class="user">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 ">
        <h1 class="profil-title quality">Biographie</h1>
        <% if @artist.bio.present? %>
          <p class="profil-details quality"><%= @artist.bio %></p>
        <% end %>
          <div class="quality">
            <%= social_share_button_tag(@artist.name, :allow_sites => %w(facebook tumblr pinterest email linkedin twitter), :rel => "modernboxrecords", :url => "https://modernboxrecords.com/artists/#{@artist.id}", :image => "#{@artist.photo}", desc: "#{@artist.bio}", via: "Modernboxrecords") %>
          </div>
      </div>
    </div>
    <hr class= "user">
    <div class="row">
      <div class="quality">
        <% if @artist.mp3? %>
          <% mp3 = @artist.mp3.path %>
          <audio controls>
            <source src=<%= cl_video_path(mp3) %> type="audio/mpeg">
          </audio>
        <% end %>
      </div>
    </div>
    <div class="row">
       <%= render 'tabs' %>
    </div>
    <hr class="user">

    <div class="row">
      <% if @artist.releases.present? %>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 model-items">
          <h2>PRODS</h2>
          <hr class="user">
        </div>
        <% @artist.releases.each do |release| %>
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 model-items">
            <%= link_to release do %>
              <div class="info-card productions">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <%= cl_image_tag release.photo, height: 150, width: 150, crop: :fill, class: "img-rounded img-responsive" %>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  <div class="col-lg-4">
                    <p style="color: black; text-align: left"><%=t(".title") %>: <%= release.title.upcase %></p>
                    <p style="color: black; text-align: left"><%= t(".EDITION") %>: <%= release.record.name %></p>
                    <p style="color: black; text-align: left"><%= t(".PRICE") %>: <%= release.price %>Euros</p>
                  </div>
                  <div class="col-lg-4">
                    <p style="color: black; text-align: left"><%= t(".GENRE") %>: <%= release.genre.name %></p>
                    <p style="color: black; text-align: left"><%= t(".RECORD") %>: <%= release.year_of_creation %></p>
                    <p style="color: black; text-align: left"><%= release.average_hearts %></p>
                  </div>
                  <div class="col-lg-4">
                    <% if release.youtube_link.present? %>
                      <%= link_to release.youtube_link, target: :_blank do %>
                        <i class="fa fa-youtube"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <% if @artist.videos.present? %>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 model-items">
          <h2>VIDEOS</h2>
          <hr>
        </div>
        <% @artist.videos.each do |video| %>
          <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5 model-items">
            <div class="video">
              <iframe src='https://www.youtube.com/embed/<%= video.youtube_link[32..120] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' height='600' width='760' class='img-responsive' frameborder='0' allowfullscreen></iframe>
            </div>
          </div>
          <%= link_to video do %>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
              <div class= "lead">
                <div class="productions">
                  <h1><%= video.title.upcase  %></h1>
                  <h1><%= @artist.name  %></h1>
                  <%= render 'shared/icons' %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <% if @artist.performances.present? %>
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 model-items">
            <h2>CONCERTS</h2>
            <hr>
          </div>
          <% @artist.performances.each do |performance| %>
            <%= link_to performance do %>
              <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 model-items">
                <div class="info-card productions">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <%= cl_image_tag performance.photo, height: 110, width: 110, crop: :fill, class: "img-rounded img-responsive" %>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="col-lg-4">
                      <p style="color: black; text-align: left"><%=t(".title") %>: <%= performance.name.upcase %></p>
                      <p style="color: black; text-align: left"><%=t(".CITY") %>: <%= performance.city %></p>
                      <p style="color: black; text-align: left"><%=t(".PRICE")%>: <%= performance.price %>Euros</p>

                    </div>
                    <div class="col-lg-4">
                      <p style="color: black; text-align: left">DATE: <%= performance.start_time.strftime("%d/%m/%Y à %H:%M") %></p>
                      <p style="color: black; text-align: left"><%=t(".ADDRESS") %>: <%= performance.place_address %></p>
                    </div>
                    <div class="col-lg-4">
                      <% if performance.facebook_event? %>
                        <%= link_to performance.facebook_event, target: :_blank do %>
                          <i class="fa fa-facebook"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>







