<% content_for(:title_tag) do %>
  -<%= @artist.name %>-
<% end %>
<% content_for(:description) do %>
  <%= @artist.description %>
<% end %>
<%= render 'shared/artist_search' %>
<div class="container card-model">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-7 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7">
      <div class="info-card">
        <%= cl_image_tag @artist.photo, height: 600, width: 600, crop: :fill, class: "img-responsive"%>
        <div class="[ info-card-details ]">
          <h3>-<%= @artist.name.upcase %>-</h3>
          <h5><%= t(".city")%>: <%= @artist.city %></h5>
          <h5><%= t(".number_of_musicians")%>: <%= @artist.number_of_musicians %> </h5>
          <div class="ratings">
            <%= @artist.average_stars %>
          </div>
          <% if @artist.mp3? %>
            <% mp3 = @artist.mp3.path %>
            <audio controls>
              <source src=<%= cl_video_path(mp3) %> type="audio/mpeg">
            </audio>
          <% end %>
          <%= render 'shared/social-networks' %>
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="info-card productions">
        <p>il faudra ajouter la bio ici</p>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @artist.releases.present? %>
      <% @artist.releases.each do |release| %>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 artist-items">
          <%= link_to release do %>
            <div class="info-card productions">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <%= cl_image_tag release.photo, height: 100, width: 100, crop: :fill, class: "img-rounded img-responsive" %>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="col-lg-4">
                  <p style="color: black; text-align: left; font-weight: bold">TITLE: -<%= release.title.upcase %>-</p>
                  <p style="color: black; text-align: left">GENRE: -<%= release.genre.name %>-</p>
                  <p style="color: black; text-align: left">RECORD: -<%= release.year_of_creation %>-</p>
                </div>
                <div class="col-lg-4">
                  <p style="color: black; text-align: left">EDITION: -<%= release.record.name %>-</p>
                  <p style="color: black; text-align: left">PRICE: -<%= release.price %>Euros-</p>
                  <p style="color: black; text-align: left"><%= release.description %>-</p>
                </div>
                <div class="col-lg-4">
                  <p style="color: black; text-align: left"><%= release.average_hearts %></p>
                  <% if release.youtube_link.present? %>
                    <%= link_to release.youtube_link, target: :_blank do %>
                      <i class="fa fa-youtube"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <% if @artist.videos.present? %>
      <% @artist.videos.each do |video| %>
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5 artist-items">
          <div class="video">
            <iframe src='https://www.youtube.com/embed/<%= video.youtube_link[32..80] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' height='600' width='760' class='img-responsive' frameborder='0' allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <div class= "lead">
            <div class="productions">
              <h1>-<%= video.title  %>-</h1>
              <h1>-<%= @artist.name  %>-</h1>
              <%= render 'shared/icons' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 artist-items">
      <% if @artist.performances.present? %>
        <% @artist.performances.each do |performance| %>
          <%= link_to performance do %>
            <div class="info-card productions">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <%= cl_image_tag performance.photo, height: 100, width: 100, crop: :fill, class: "img-rounded img-responsive" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render 'tabs' %>
</div>








