<%= link_to topic do %>
  <div class="info-card">
    <div class="info">
      <h1 style="font-size: 30px;"><%= topic.title.capitalize %></h1>
      <h1><%= topic.content %></h1>
      <h1><%= topic.link %></h1>
      <%= render 'shared/icons' %>
    </div>
  </div>
<% end %>
