<% content_for(:title_tag) do %>
  -<%= @topic.title %>- on Modern Box Records
<% end %>
<% content_for(:description) do %>
  <%= @topic.content %>
<% end %>
<%= render 'shared/topic_search' %>
<div class="page-title top">FORUM</div>
<div class="container">
  <div class="row">
    <div class="product">
      <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 150, width: 150, crop: :fit, class: "product-image hidden-xs" %>
      <div class='product-body'>
        <h4><%= @topic.title.upcase %></h4>
        <p style="color: black; text-align: left">posted on the <%= @topic.created_at.strftime("%d/%m/%Y") %></p>
        <p><%= @topic.content %></p>
        <% if @topic.link.present? %>
          <p><%= @topic.link %></p>
        <% end %>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <% if @topic.user == current_user %>
        <li>
          <%= link_to 'edit topic', edit_topic_path(@topic), class: "btn btn-medium" %>
        </li>
        <li>
          <%= link_to t(".Delete", default: "delete topic"), topic_path(@topic), class: "btn btn-medium", method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
</div>
<div class="option">
  <div class="banner-content">
    <div class="container actions">
      <div class="row">
        <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Comment</h5>
                <div class="modal-body">
                  <%= render 'comments/form', topic: @topic, comment: @comment %>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".close") %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="option">
  <div class="banner-content">
    <div class="container actions">
      <div class="row">

        <% @topic.comments.each do |comment| %>
          <%= render 'comments/show', comment: comment %>
        <% end %>

        <% if @topic.comments.blank? %>
          <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-8 tabs">
            <p class="tab col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 last-item" data-toggle="modal" data-target="#comment" style="text-align: center;">Be the first to leave a comment for <%= @topic.title %>
            </p>
        <% else %>
            <p class="tab col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 last-item" data-toggle="modal" data-target="#comment" style="text-align: center;">add a comment on <%= @topic.title %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
