<% content_for(:title_tag) do %>
  -<%= @topic.title %>- on Modern Box Records
<% end %>
<% content_for(:description) do %>
  <%= @topic.content %>
<% end %>
<div class="index-wallpapers">
  <div class="page-title top" style="color: white; text-align: center;">MODERNBOX WALL</div>
  <div class="option">
    <div class="banner-content">
      <div class="row">
        <p class="tab col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 clickable" data-toggle="modal" data-target="#comment" style="text-align: center;"><%= t(".add_a_comment")%> '<%= current_user.email%>'
        </p>
      </div>
      <hr>
      <div class="row">
        <% @topic.comments.reverse_each do |comment| %>
          <%= render 'comments/show', comment: comment %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="option">
    <div class="banner-content">
      <div class="container actions">
        <div class="row">
          <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Comment</h5>
                  <div class="modal-body">
                    <%= render 'comments/form', topic: @topic, comment: @comment %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
