<div class="container in">
  <div class="box-content">

    <h2 class="box"><%= t(".resend_unlock_instructions") %></h2>

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :unlock_token %>

      <div class="form-inputs box">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <div class="form-actions box press">
        <%= f.button :submit, t(".resend_unlock_instructions") %>
      </div>
    <% end %>

    <div class="box press"><%= render "devise/shared/links" %></div>
  </div>
  <h5 class="last-item" style="color: $black;">Problème provisoire dans la connexion avec facebook ... préférez l'email ;)</h5>
</div>
