<div class="form-user">
  <%= simple_form_for @user, defaults: { label_html: { class: 'labels' } } do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">
      <div class="form-group">
        <label class="control-label check_boxes optional">Instruments played</label>
        <input type="hidden" name="user[instrument_ids][]" value="">
        <div class="instrument-choices">
          <% Instrument.all.each do |instrument| %>
            <input type="checkbox" class="hidden" value="<%= instrument.id %>" name="user[instrument_ids][]" id="user_instrument_ids_<%= instrument.id %>">
            <label class="instrument-choice" for="user_instrument_ids_<%= instrument.id %>">
              <%= instrument.name %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="quality">
        <%= f.button :submit, 'Valider', class: 'btn btn-large-white' %>
        <button type="button" class="btn btn-large-white-off last-item" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  <% end %>
</div>
