<div class="modal fade" id="new_asso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black;" id="exampleModalLongTitle"><%= t(".new_asso") %></h5>
        <div class="modal-body">
          <%= render 'assos/form', asso: @asso %>
          <button type="button" class="btn tab" data-dismiss="modal"><%= t(".close") %></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_place" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black;" id="exampleModalLongTitle"><%= t(".new_place") %></h5>
        <div class="modal-body">
          <%= render 'places/form', place: @place %>
          <button type="button" class="btn tab" data-dismiss="modal"><%= t(".close") %></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_artist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle"><%= t(".new_artist") %></h5>
        <div class="modal-body">
          <%= render 'artists/form', artist: @artist %>
          <button type="button" class="btn tab" data-dismiss="modal"><%= t(".close") %></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_topic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black;" id="exampleModalLongTitle"><%= t(".new_topic") %></h5>
        <div class="modal-body">
          <%= render 'topics/form', topic: @topic %>
          <button type="button" class="btn tab" data-dismiss="modal"><%= t(".close") %></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update-profil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black;" id="exampleModalLongTitle"><%= t(".update-profil") %></h5>
        <div class="modal-body">
          <%= render 'users/form', user: @user %>
          <button type="button" class="btn tab" data-dismiss="modal"><%= t(".close") %></button>
        </div>
      </div>
    </div>
  </div>
</div>


