<div class="modal fade" id="new_asso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle"><%= t(".new_asso") %></h5>
        <div class="modal-body">
          <%= render 'assos/form', asso: @asso %>
          <button type="button" class="btn tab" data-dismiss="modal"><%= t(".close") %></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_place" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle"><%= t(".new_place") %></h5>
        <div class="modal-body">
          <%= render 'places/form', place: @place %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_artist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle"><%= t(".new_artist") %></h5>
        <div class="modal-body">
          <%= render 'artists/form', artist: @artist %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_topic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle"><%= t(".new_topic") %></h5>
        <div class="modal-body">
          <%= render 'topics/form', topic: @topic %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update-profil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle">Préférences musicales</h5>
        <div class="modal-body">
          <%= render 'users/form', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="instruments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle">Instruments</h5>
        <div class="modal-body">
          <%= render 'users/instruments', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="localisations" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle">Localisations</h5>
        <div class="modal-body">
          <%= render 'users/localisations', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="activities" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle">activities</h5>
        <div class="modal-body">
          <%= render 'users/activities', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
