<div class="index-wallpapers">
  <div class="container">
    <h1 class="page-title-search" style="color: white; padding-top: 24px;">
      MODERN BOX MEMBERS
    </h1>

    <div class="row">
      <div class="registration-content">
        <% if current_user.asso == nil && current_user.place == nil && current_user.artist == nil && current_user == @user %>
          <p class="user-log-step">2ème Etape</p>
          <p class="user-log-step">Choisir une action</p>
        <% end %>
      </div>
    </div>

    <div class="row">
      <% if current_user.artist == nil %>
        <div class="col-lg-12">
          <p class="user-preference" data-toggle="modal" data-target="#new_artist">Créer un Artiste</p>
        </div>
      <% else %>
        <%= link_to @user.artist do %>
          <div class="col-lg-12">
            <p class="user-preference">Actualiser <%= @user.artist.name.capitalize %></p>
          </div>
        <% end %>
      <% end %>

      <% if current_user.asso == nil && current_user.place == nil %>
        <div class="col-lg-12">
          <p class ="user-preference" data-toggle="modal" data-target="#new_asso">Créer une structure</p>
        </div>
        <div class="col-lg-12">
          <p class="user-preference" data-toggle="modal" data-target="#new_place">Créer salle</p>
        </div>
      <% end %>

      <% if current_user.asso != nil %>
        <%= link_to @user.asso do %>
          <div class="col-lg-12">
            <p class="user-preference">Actualiser <%= @user.asso.name.capitalize %></p>
          </div>
        <% end %>
      <% end %>

      <% if current_user.place != nil %>
        <%= link_to @user.place do %>
          <div class="col-lg-12">
            <p class="user-preference">Actualiser <%= @user.place.name.capitalize %></p>
          </div>
        <% end %>
      <% end %>

      <div class="col-lg-12">
        <p class="user-preference" data-toggle="modal" data-target="#new_topic">Créer Sujet</p>
      </div>

      <div class="col-lg-12">
        <p class="user-preference" data-toggle="modal" data-target="#update-profil">Ajouter préférences</p>
      </div>

      <div class="col-lg-12">
        <p class="user-preference" data-toggle="modal" data-target="#instruments">Ajouter instruments</p>
      </div>
    </div>

    <%= render 'modals' %>

    <div class="quality">
      <p class= "profil-title">Revendiquer un compte artiste, salle ou asso existant?</p>
        <%= social_share_button_tag("revendication de compte", :allow_sites => %w(email), :rel => "modernboxrecords", :url => "https://modernboxrecords.com/users/#{@user.id}" )%>
      <p class="profil-details">modernboxrecords@gmail.com</p>
    </div>
    <%= render 'matches' %>
    </div>

    <div class="copyright last-item">
      © Modern Box Records, All Rights Reserved.
    </div>

    <div class="row">
      <% if @user == current_user %>
        <div class="col-lg-12">
          <%= link_to user_path(@user), method: :delete, data: { confirm: "Are you sure?" } do %>
            <p class=" user-preference"><%= t(".delete", default: "delete my account") %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if @user.admin == true %>
      <%= link_to main_app.rails_admin_path do %>
        <i class="fa fa-lock on-nav"></i>
      <% end %>
    <% end %>

    <%= render "shared/footer" %>

  </div>
</div>




