<div class="page-title top">
  MAKE YOUR PROFIL
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/da2krghvd/image/upload/v1505755372/corey-blaz-5003_sp9w4e.jpg');">
  <div class="banner-content">
    <div class="container actions">
      <div class="row text-center">
        <div class="mb">
          <div class="action">
            <% if current_user.artist == nil %>
              <%=link_to "create new artist", new_artist_path, class: "btn btn-medium" %>
            <% else %>
              <%=link_to "modifier #{@user.artist.name}", @user.artist, class: "btn btn-medium" %>
            <% end %>
          </div>
        </div>
        <div class="mb">
          <div class="action">
            <% if current_user.asso == nil %>
              <%=link_to "create new asso", new_asso_path, class: "btn btn-medium" %>
            <% else %>
              <%=link_to "modifier #{@user.asso.name}",@user.asso, class: "btn btn-medium" %>
            <% end %>
          </div>
        </div>
        <div class="mb">
          <div class="action">
            <% if current_user.place == nil %>
              <%=link_to "create new place", new_place_path, class: "btn btn-medium" %>
            <% else %>
              <%=link_to "modifier #{@user.place.name}",@user.place, class: "btn btn-medium" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







