<div class="page-title top">
  MAKE YOUR PROFIL
</div>
<hr>
<h5 style="text-align:center; color: $black">Notez que vous ne pouvez pas ouvrir un compte asso et un compte place !!!<br>Si vous avez une asso disposant d'une salle de concerts et autres...<br>préférez le compte asso qui est plus complet et plus versatile<br>ouvrez un second compte utilisateur</h5>
<hr>
<div class="banner">
  <div class="container banner-content">
    <% if current_user.asso == nil && current_user.place == nil %>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="id-card">
          <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 230, width: 250, crop: :fill, class: "id-pic img-responsive" %>
          <%= link_to t(".asso", default: "create new asso"), new_asso_path %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="id-card">
          <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 230, width: 250, crop: :fill, class: "id-pic img-responsive" %>
          <%= link_to t(".place", default: "create new place"), new_place_path %>
        </div>
      </div>
    <% end %>
    <% if current_user.asso != nil %>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="id-card">
          <%= cl_image_tag @user.asso.photo, height: 230, width: 250, crop: :fill, class: "id-pic img-responsive" %>
          <%= link_to "Modifier #{@user.asso.name}",@user.asso, class: "btn btn-medium" %>
        </div>
      </div>
    <% end %>
    <% if current_user.place != nil %>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="id-card">
          <%= cl_image_tag @user.place.photo, height: 230, width: 250, crop: :fill, class: "id-pic img-responsive" %>
          <%= link_to "Modifier #{@user.place.name}",@user.place, class: "btn btn-medium" %>
        </div>
      </div>
    <% end %>
    <% if current_user.artist == nil %>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="id-card">
          <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 230, width: 250, crop: :fill, class: "id-pic img-responsive" %>
          <%= link_to t(".artist", default: "create new artist"), new_artist_path %>
        </div>
      </div>
    <% else %>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="id-card">
          <%= cl_image_tag @user.artist.photo, height: 230, width: 250, crop: :fill, class: "id-pic img-responsive" %>
          <%= link_to "modifier #{@user.artist.name}", @user.artist, class: "btn btn-medium" %>
        </div>
      </div>
    <% end %>
    <% if @user == current_user %>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="id-card">
          <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 230, width: 250, crop: :fill, class: "id-pic img-responsive" %>
          <%= link_to t(".delete", default: "delete my account"), user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>



