<div class="page-title top"><%= t(".title", default: "MUSIC MATCH")%></div>
<h5 style="text-align:center; color: $black"> Si vous avez une structure disposant d'une salle de concerts et autres...<br>préférez le compte "structure" qui est plus complet et plus versatile<br>Si vous n'avez que la salle ouvrez un compte "salle"</h5>
<hr>
<div class="banner">
  <div class="container banner-content">
    <div class="row">
      <div class="col-lg-12">
        <% if current_user.asso == nil && current_user.place == nil %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to new_asso_path do %>
              <div class="id-card">
                <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= t(".asso", default: "create new asso") %>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to new_place_path do %>
              <div class="id-card">
                <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= t(".place", default: "create new place") %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if current_user.asso != nil %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to @user.asso do %>
              <div class="id-card">
                <%= cl_image_tag @user.asso.photo, height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%="#{@user.asso.name}" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if current_user.place != nil %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to @user.place do %>
              <div class="id-card">
                <%= cl_image_tag @user.place.photo, height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%="#{@user.place.name}" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if current_user.artist == nil %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to new_artist_path do %>
              <div class="id-card">
                <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= t(".artist", default: "create new artist") %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to @user.artist do %>
              <div class="id-card">
                <%= cl_image_tag @user.artist.photo, height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= "#{@user.artist.name}" %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @user == current_user %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to user_path(@user), method: :delete, data: { confirm: "Are you sure?" } do %>
              <div class="id-card">
                <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= t(".delete", default: "delete my account")  %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <hr>
    <div class="matches">
      <h3 style= "color: black">My matches</h3>
      <% if current_user.artist.present? %>
        <div class="container">
          <h5 style= "color: black">Perfect band matches with assos</h5>
          <br>
          <div class="row">
            <% if @assos.present? %>
              <% @assos.each do |a|%>
                <% if a.genre.name == current_user.artist.genre.name && a.city == current_user.artist.city.downcase && a.number_of_musicians_max <= current_user.artist.number_of_musicians %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "assos/asso", asso: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="container">
          <h5 style= "color: black">Perfect band matches with places</h5>
          <br>
          <div class="row">
            <% if @places.present? %>
              <% @places.each do |a|%>
                <% if a.genre.name == current_user.artist.genre.name && a.city.downcase == current_user.artist.city.downcase && a.number_of_musicians_max >= current_user.artist.number_of_musicians %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "places/place", place: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="container">
          <h5 style= "color: black">Perfect band matches with artists</h5>
          <br>
          <div class="row">
            <% if @artists.present? %>
              <% @artists.each do |a|%>
                <% if a.genre.name == current_user.artist.genre.name && a.city.downcase == current_user.artist.city.downcase && a.name != current_user.artist.name %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "artists/artist", artist: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="container">
          <h5 style= "color: black">Good matches with assos elsewhere </h5>
          <br>
          <div class="row">
            <% if @assos.present? %>
              <% @assos.each do |a|%>
                <% if (a.genre.name == current_user.artist.genre.name && a.city.downcase != current_user.artist.city.downcase && a.number_of_musicians_max >= current_user.artist.number_of_musicians) %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "assos/asso", asso: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="container">
          <h5 style= "color: black">Good matches with places elsewhere</h5>
          <br>
          <div class="row">
            <% if @places.present? %>
              <% @places.each do |a|%>
                <% if a.genre.name == current_user.artist.genre.name && a.city.downcase != current_user.artist.city.downcase && a.number_of_musicians_max >= current_user.artist.number_of_musicians %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "places/place", place: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="container">
          <h5 style= "color: black">Good matches with artists elsewhere</h5>
          <br>
          <div class="row">
            <% if @artists.present? %>
              <% @artists.each do |a|%>
                <% if (a.genre.name == current_user.artist.genre.name && a.city.downcase != current_user.artist.city.downcase && a.name != current_user.artist.name) %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "artists/artist", artist: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <hr>
      <% if current_user.place.present? %>
        <div class="container">
          <h5 style= "color: black">Perfect place matches with assos</h5>
          <br>
          <div class="row">
            <% if @assos.present? %>
              <% @assos.each do |a|%>
                <% if a.genre.name == current_user.place.genre.name && a.city.downcase == current_user.place.city.downcase && a.number_of_musicians_max <= current_user.place.number_of_musicians_max %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "assos/asso", asso: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <% if @artists.present? %>
          <div class="container">
            <h5 style= "color: black">Perfect place matches with artists</h5>
            <br>
            <div class="row">
              <% @artists.each do |a|%>
                <% if a.genre.name == current_user.place.genre.name && a.city.downcase == current_user.place.city.downcase && a.number_of_musicians <= current_user.place.number_of_musicians_max %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "artists/artist", artist: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <hr>
        <div class="container">
          <h5 style= "color: black">Good matches with assos elsewhere</h5>
          <br>
          <div class="row">
            <% if @assos.present? %>
              <% @assos.each do |a|%>
                <% if (a.genre.name == current_user.place.genre.name && a.city.downcase != current_user.place.city.downcase && a.number_of_musicians_max <= current_user.place.number_of_musicians_max) %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "assos/asso", asso: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="container">
          <h5 style= "color: black">Good matches with artists elsewhere</h5>
          <br>
          <div class="row">
            <% if @artists.present? %>
              <% @artists.each do |a|%>
                <% if a.genre.name == current_user.place.genre.name && a.city.downcase != current_user.place.city.downcase && a.number_of_musicians <=current_user.place.number_of_musicians_max %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "artists/artist", artist: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <hr>
      <% if current_user.asso.present? %>
        <div class="container">
          <h5 style= "color: black">Perfect structure matches with places</h5>
          <br>
          <div class="row">
            <% if @places.present? %>
              <% @places.each do |a|%>
                <% if a.genre.name == current_user.asso.genre.name && a.city.downcase == current_user.asso.city.downcase && a.number_of_musicians_max <= current_user.asso.number_of_musicians_max %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "places/place", place: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="container">
          <h5 style= "color: black">Perfect structure matches with artists</h5>
          <br>
          <div class="row">
            <% if @artist.present? %>
              <% @artists.each do |a|%>
                <% if a.genre.name == current_user.asso.genre.name && a.city.downcase == current_user.asso.city.downcase && a.number_of_musicians <= current_user.asso.number_of_musicians_max %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "artists/artist", artist: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="container">
          <h5 style= "color: black">Good matches with places elsewhere</h5>
          <br>
          <div class="row">
            <% if @places.present? %>
              <% @places.each do |a|%>
                <% if a.genre.name == current_user.asso.genre.name && a.city.downcase != current_user.asso.city.downcase && a.number_of_musicians_max <= current_user.asso.number_of_musicians_max %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "places/place", place: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="container">
          <h5 style= "color: black">Good matches with artists elsewhere</h5>
          <div class="row">
            <% if @artists.present? %>
              <% @artists.each do |a|%>
                <% if a.genre.name == current_user.asso.genre.name && a.city.downcase != current_user.asso.city.downcase && a.number_of_musicians <=current_user.asso.number_of_musicians_max %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="main">
                      <div class="card">
                        <%= render "artists/artist", artist: a %><br>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="copyright">
        © Modern Box Records, All Rights Reserved.
      </div>
    </div>
  </div>
</div>



