<div class="page-title top">
  MAKE YOUR PROFIL
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/da2krghvd/image/upload/v1505755372/corey-blaz-5003_sp9w4e.jpg');">
  <div class="banner-content">
    <div class="container actions">
      <div class="row">
        <a class="tab col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-2 col-sm-4 col-xs-4 active" data-target="#bands">
          <h5>Band</h5>
        </a>
        <a class="tab col-lg-2 col-md-2 col-sm-4 col-xs-4" data-target="#assos">
          <h5>Assos</h5>
        </a>
        <a class="tab col-lg-2 col-md-2 col-sm-4 col-xs-4" data-target="#places">
          <h5>Places</h5>
        </a>
      </div>
      <div class="row text-center">
        <div class="tab-content col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 " id="bands">
          <div class="mb">
            <div class="action">
              <% if current_user.artist == nil %>
                <%=link_to "create new artist", new_artist_path, class: "btn btn-medium" %>
              <% else %>
                <%=link_to "modifier #{@user.artist.name}", @user.artist, class: "btn btn-medium" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <div class="tab-content col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 hidden" id="assos">
          <div class="mb">
            <div class="action">
              <% if current_user.asso == nil %>
                <%=link_to "create new asso", new_asso_path, class: "btn btn-medium" %>
              <% else %>
                <%=link_to "modifier #{@user.asso.name}",@user.asso, class: "btn btn-medium" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-content col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 hidden" id="places">
          <div class="mb">
            <div class="action">
              <% if current_user.place == nil %>
                <%=link_to "create new place", new_place_path, class: "btn btn-medium" %>
              <% else %>
                <%=link_to "modifier #{@user.place.name}",@user.place, class: "btn btn-medium" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







