<div class="negative top small">
  USERS ACTIONS
</div>

<div class="container in">
    <div class="container actions">
      <div class="row">
        <div class="mb">
          <div class="action"><%=image_tag "mb_logo_pink", class: "disc" %></div><br>
            <% if current_user.artist || nil %>
            <%=link_to "Update artist", edit_artist_path %>
            <% else %>
            <%=link_to "Create artist", new_artist_path %>
            <% end %>
          </div>
        <div class="mb">
          <div class="action"><%=image_tag "mb_logo_pink", class: "disc" %></div><br>
            <%=link_to "Create release", new_release_path %>
        </div>
        <div class="mb">
          <div class="action"><%=image_tag "mb_logo_pink", class: "disc" %></div><br>
            <%=link_to "create performance", new_performance_path %>
        </div>
      </div>
    </div>
  </div>
</div>


