<div class="page-title top"><%= t(".title", default: "MUSIC MATCH")%></div>
<h5 style="text-align:center; color: $black"> Si vous avez une structure disposant d'une salle de concerts et autres...<br>préférez le compte "structure" qui est plus complet et plus versatile<br>Si vous n'avez que la salle ouvrez un compte "salle"</h5>
<hr>
<div class="banner">
  <div class="container banner-content">
    <div class="row">
      <div class="col-lg-12">
        <% if current_user.asso == nil && current_user.place == nil %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to new_asso_path do %>
              <div class="id-card">
                <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= t(".asso", default: "create new asso") %>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to new_place_path do %>
              <div class="id-card">
                <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= t(".place", default: "create new place") %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if current_user.asso != nil %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to @user.asso do %>
              <div class="id-card">
                <%= cl_image_tag @user.asso.photo, height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%="#{@user.asso.name}" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if current_user.place != nil %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to @user.place do %>
              <div class="id-card">
                <%= cl_image_tag @user.place.photo, height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%="#{@user.place.name}" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if current_user.artist == nil %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to new_artist_path do %>
              <div class="id-card">
                <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= t(".artist", default: "create new artist") %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to @user.artist do %>
              <div class="id-card">
                <%= cl_image_tag @user.artist.photo, height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= "#{@user.artist.name}" %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @user == current_user %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <%= link_to user_path(@user), method: :delete, data: { confirm: "Are you sure?" } do %>
              <div class="id-card">
                <%= cl_image_tag ("oeyoruj52wwpszcmdwqy.jpg"), height: 250, width: 400, crop: :fill, class: "id-pic img-responsive" %>
                <%= t(".delete", default: "delete my account")  %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <hr>
    <div class="matches">
      <h3 style= "color: black">My matches</h3>
      <div class="container items">
        <div class="row">
          <% if @places.present? && current_user.artist.present? || current_user.asso.present? %>
            <% @places.each do |a|%>
              <% if a.genre.name == current_user.artist.genre.name || a.city == current_user.artist.city %>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                  <div class="main">
                    <div class="card">
                      <%= render "places/place", place: a %><br>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-result" style="color: black">
              you've got no match yet
            </div>
          <% end %>
        </div>
      </div>
      <div class="container items">
        <div class="row">
          <% if @assos.present? && current_user.artist.present? %>
            <% @assos.each do |a|%>
              <% if a.genre.name == current_user.artist.genre.name || a.city == current_user.artist.city %>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                  <div class="main">
                    <div class="card">
                      <%= render "assos/asso", asso: a %><br>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-result" style="color: black">
              you've got no match yet
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>



