<div class="page-title top">
  ACTIONS ON YOUR PROFIL
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/da2krghvd/image/upload/v1505755372/corey-blaz-5003_sp9w4e.jpg');">
  <div class="banner-content">
    <div class="container actions">
      <div class="row"><br>
        <div class="mb">
          <h5>
            Votre première action en tant qu'utilisateur. <br>
            Créez votre projet au sein de notre base de données et augmentez votre visibilité auprès des organisateurs d'évènements "Rock", des groupes "Rock" et des salles "Rock".<br>
            Beaucoup de fonctionnalitées sont encore en cours de développement, mais faut bien commencer quelque part...
          </h5>
          <br>
          <h3>
            |Modern box records|<br>
            Tellement plus qu'un label!!!
          </h3>
        </div>
        <div class="mb">
          <div class="action">
            <% if current_user.artist == nil %>
              <%=link_to new_artist_path do %>
                <%=image_tag "mb_logo_pink.jpg", class: "disc" %>
                <h5 class="grey">Créer carte artiste</h5>
              <% end %>
              <% else %>

              <%=link_to @user.artist do %>
                <%=image_tag "mb_logo_pink.jpg", class: "disc" %>
                <h5 class="grey">Action sur <%= @user.artist.name %></h5>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


