<%= simple_form_for @video, url: as_an_asso_video_path, :method => :post, defaults: { label_html: { class: 'labels' } } do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">
    <%= f.input :title, required: false, label: 'Titre (obligatoire)' %>
    <%= f.input :youtube_link, required: false, label: 'Lien vers youtube (obligatoire)' %>
    <%= f.association :genre, required: false, label: 'Style (obligatoire)' %>
    <div class="quality">
      <%= f.button :submit, 'Valider', class: 'btn btn-large-white' %>
      <button type="button" class="btn btn-large-white-off last-item" data-dismiss="modal">Fermer</button>
    </div>
  </div>
<% end %>

