<div class="info-card">
  <%= link_to video do %>
    <% screen = youtube_link.delete!('https://www.youtube.com/watch?v=')%>
    <iframe src='https://www.youtube.com/embed/<%= screen %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' height='600' width='760' class='img-responsive' frameborder='0' allowfullscreen></iframe>
  <% end %>
  <div class="info">
    <h1>-<%= video.title  %>-</h1>
    <h1>-<%= video.artist.name %>-</h1>
    <h1>-<%= video.genre.name %>-</h1>
    <%= render 'shared/icons' %>
  </div>
</div>
