<%= render 'shared/video_search' %>
<div class="banner">
  <div class="banner-content">
    <!--section d'ensemble-->
    <div class="container items">
      <div class="row">
        <% if @videos.present? %>
          <% @videos.each do |video|%>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="main">
                <div class="card">
                  <div class="info-card">
                    <iframe src='https://www.youtube.com/embed/<%= video.youtube_link[32..80] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' height='600' width='760' class='img-responsive' frameborder='0' allowfullscreen></iframe>
                    <%= link_to video do %>
                    <div class="info">
                      <h1>-<%= video.title  %>-</h1>
                      <% if video.artist.present? %>
                        <h1><%= video.artist.name %></h1>
                      <% end %>
                      <% if video.asso.present? %>
                        <h1><%= video.asso.name %></h1>
                      <% end %>
                      <% if video.place.present? %>
                        <h1><%= video.place.name %></h1>
                      <% end %>
                      <h1>-<%= video.genre.name %>-</h1>
                      <%= render 'shared/icons' %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= render 'shared/no_result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
