<% content_for(:title_tag) do %>
  -<%= @video.title %>- on Modern Box Records
<% end %>
<%= render 'shared/video_search'%>
<div class="container card-model">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
      <h1 class= "hidden-lg hidden-md hidden-sm page-title title-top">-<%=@video.title.upcase %>-</h1>
      <div class="info-card">
        <iframe src='https://www.youtube.com/embed/<%= @video.youtube_link[32..80] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' height='600' width='760' class='img-responsive' frameborder='0' allowfullscreen></iframe>
        <div class="info">
          <h1>-<%= @video.title  %>-</h1>
          <% if @video.artist.present? %>
            <h1>-<%= @video.artist.name %>-</h1>
          <% elsif @video.asso.present? %>
            <h1>-<%= @video.asso.name %>-</h1>
          <% else%>
            <h1>-<%= @video.place.name %>-</h1>
          <% end %>
          <h1>-<%= @video.genre.name %>-</h1>
          <%= render 'shared/icons' %>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
              <div class="social-card-content">
                <% if @video.artist.present? %>
                  <%= link_to "Back to #{@video.artist.name}", artist_path(@video.artist) %>
                <% elsif @video.asso.present? %>
                  <%= link_to "Back to #{@video.asso.name}", asso_path(@video.asso) %>
                <% else%>
                  <%= link_to "Back to #{@video.place.name}", place_path(@video.place) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @video.artist.present? %>
    <div class="row">
      <% if @video.artist == current_user.artist  %>
        <div class="option">
           <div class="banner-content">
              <div class="mb">
                <div class="action">
                  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                    <p style="color: $black;"><%="Edit #{@video.title}"%></p>
                      <%= render 'videos/form', video: @video %>
                      <%= link_to t(".Delete", default: "delete this"), video_path(@video), class: "call-to-action btn-medium btn last-item", method: :delete, data: { confirm: "Are you sure?" } %><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @video.asso.present? %>
    <div class="row">
      <% if @video.asso == current_user.asso  %>
        <div class="option">
           <div class="banner-content">
              <div class="mb">
                <div class="action">
                  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                    <p style="color: $black;"><%="Edit #{@video.title}"%></p>
                      <%= render 'videos/form', video: @video %>
                      <%= link_to t(".Delete", default: "delete this"), video_path(@video), class: "call-to-action btn-medium btn last-item", method: :delete, data: { confirm: "Are you sure?" } %><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
    <% if @video.place.present? %>
    <div class="row">
      <% if @video.place == current_user.place  %>
        <div class="option">
           <div class="banner-content">
              <div class="mb">
                <div class="action">
                  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                    <p style="color: $black;"><%="Edit #{@video.title}"%></p>
                      <%= render 'videos/form', video: @video %>
                      <%= link_to t(".Delete", default: "delete this"), video_path(@video), class: "call-to-action btn-medium btn last-item", method: :delete, data: { confirm: "Are you sure?" } %><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
