<div class="container in">
  <div class="row">
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <div class="[ info-card ]">
        <%= cl_image_tag @artist.photo, height: 500, crop: :fit%>
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1><%= @artist.name.capitalize %></h1>
            <h3><%= t(".city")%>: <%= @artist.city %></h3>
            <h3><%= t(".number_of_musicians")%>: <%= @artist.number_of_musicians %> </h3>
            <h3><%= t(".year_of_creation") %> <%= @artist.year_of_creation %> </h3>
            <h3><%=@artist.contact %></h3>
          </div>
          <%= cl_image_tag @artist.photo, height: 200, crop: :fit , class: "style_image img-responsive"%>
          <br>
          <div class="option">
            <% if @artist.user == current_user  %>
              <%= link_to t(".update", default: "Update artist"), edit_artist_path, class: "call-to-action btn-medium btn" %>
              <%= link_to t(".Delete", default: "delete artist"), artist_path(@artist), class: "call-to-action btn-medium btn", method: :delete, data: { confirm: "Are you sure?" } %><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <% if @artist.facebook_link.present? %>
        <div class="[ info-card ]">
          <%= link_to @artist.facebook_link, target: :_blank do %>
            <i class="fa fa-facebook-square [ social-icon facebook ] animate"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <% if @artist.insta_link.present? %>
        <div class="[ info-card ]">
          <%= link_to @artist.insta_link, target: :_blank do %>
            <i class="fa fa-instagram [ social-icon facebook ] animate"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <% if @artist.soundcloud_link.present? %>
        <div class="[ info-card ]">
          <%= link_to @artist.soundcloud_link, target: :_blank do %>
            <i class="fa fa-soundcloud [ social-icon facebook ] animate"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <% if @artist.twitter_link.present? %>
        <div class="[ info-card ]">
          <%= link_to @artist.twitter_link, target: :_blank do %>
            <i class="fa fa-twitter-square [ social-icon facebook ] animate"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <% if @artist.youtube_channel.present? %>
        <div class="[ info-card ]">
          <%= link_to @artist.youtube_channel, target: :_blank do %>
            <i class="fa fa-youtube-square [ social-icon facebook ] animate"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <% if @artist.bandcamp_link.present? %>
        <div class="[ info-card ]">
          <%= link_to @artist.bandcamp_link, target: :_blank do %>
            <i class="fa fa-bandcamp [ social-icon facebook ] animate"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <% if @artist.releases.present? %>
        <% @artist.releases.each do |release| %>
          <div class="col-lg-3">
            <%= link_to release do %>
              <%= cl_image_tag release.photo, height: 100, width: 120, crop: :fill, class: "thumbnail" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <div class="row">
        <div class="[ col-xs-offset-4 col-sm-offset-5 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4 ]">
          <div class="mb">
            <div class="action">
              <%=link_to new_performance_path do %>
                <%=image_tag "mb_logo_pink.jpg", class: "disc" %>
                <h5 class="grey">Créer un show</h5>
              <% end %>
            </div>
          </div>
        </div>
        <div class="[ col-xs-offset-4 col-sm-offset-5 col-sm-4 col-md-offset-2 col-lg-offset-1 col-lg-5 ]">
          <div class="mb">
            <div class="action">
              <%=link_to new_release_path do %>
                <%=image_tag "mb_logo_pink.jpg", class: "disc" %>
                <h5 class="grey" >Créer Record</h5>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



