<div class="container model-card">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      <div class="info-card">
        <%= cl_image_tag @artist.photo, height: 600, width: 760, crop: :fill, class: "style_image img-responsive"%>
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1><%= @artist.name.capitalize %></h1>
            <h3><%= t(".city")%>: <%= @artist.city %></h3>
            <h3><%= t(".number_of_musicians")%>: <%= @artist.number_of_musicians %> </h3>
          </div>
          <% if @artist.mp3? %>
            <% mp3 = @artist.mp3.path %>
            <audio controls>
              <source src=<%= cl_video_path(mp3) %> type="audio/mpeg">
            </audio>
          <% end %>
          <br>
          <br>
          <div class="ratings">
            <%= @artist.average_stars %>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 social-card-content">
              <div class="row">
                <% if @artist.facebook_link.present? %>
                  <%= link_to @artist.facebook_link, target: :_blank do %>
                    <i class="fa fa-facebook-square social-logo"></i>
                  <% end %>
                <% end %>
                <% if @artist.insta_link.present? %>
                  <%= link_to @artist.insta_link, target: :_blank do %>
                    <i class="fa fa-instagram social-logo"></i>
                  <% end %>
                <% end %>
                <% if @artist.soundcloud_link.present? %>
                  <%= link_to @artist.soundcloud_link, target: :_blank do %>
                    <i class="fa fa-soundclound social-logo"></i>
                  <% end %>
                <% end %>
                <% if @artist.twitter_link.present? %>
                  <%= link_to @artist.twitter_link, target: :_blank do %>
                    <i class="fa fa-twitter social-logo"></i>
                  <% end %>
                <% end %>
                <% if @artist.youtube_channel.present? %>
                  <%= link_to @artist.soundcloud_link, target: :_blank do %>
                    <i class="fa fa-youtube-square social-logo"></i>
                  <% end %>
                <% end %>
                <% if @artist.bandcamp_link.present? %>
                  <%= link_to @artist.bandcamp_link, target: :_blank do %>
                    <i class="fa fa-bandcamp social-logo"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 artist-release-content">
      <% if @artist.releases.present? %>
        <% @artist.releases.each do |release| %>
          <%= link_to release do %>
            <div class="info-card productions">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <%= cl_image_tag release.photo, height: 100, width: 100, crop: :fill, class: "img-rounded img-responsive" %>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <p style="color: black; text-align: left; font-weight: bold"><%= release.title.upcase %>-<%= release.year_of_creation %></p>
                <p style="color: black; text-align: left"><%= release.description %></p>
                <p style="color: black; text-align: left"><%= release.average_hearts %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="option">
    <% if @artist.user == current_user  %>
      <%= link_to t(".update", default: "Update artist"), edit_artist_path, class: "call-to-action btn-medium btn" %>
      <%= link_to t(".Delete", default: "delete artist"), artist_path(@artist), class: "call-to-action btn-medium btn", method: :delete, data: { confirm: "Are you sure?" } %><br>
      <%= link_to t(".update", default: "Créer un show"), new_performance_path, class: "call-to-action btn-medium btn" %>
      <%= link_to t(".update", default: "Créer Record"), new_release_path, class: "call-to-action btn-medium btn" %>
      <% else %>
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
      <div class="social-card-content">
        <%= link_to 'add ratings to this band', new_artist_rating_path(@artist) %>
      </div>
    </div>
  <% end %>
</div>






