<div class="container model-card">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      <div class="info-card">
        <%= cl_image_tag @asso.photo, height: 600, width: 760, crop: :fill, class: "style_image img-responsive"%>
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1><%= @asso.name.capitalize %></h1>
            <h3><%= t(".city")%>: <%= @asso.city %></h3>
          </div>
          <%= cl_image_tag @asso.photo, height: 80, width: 160, crop: :fill , class: "style_image img-responsive"%>
          <br>
          <div class="option">
            <% if @asso.user == current_user  %>
              <%= link_to t(".update", default: "Update association"), edit_asso_path, class: "call-to-action btn-medium btn" %>
              <%= link_to t(".Delete", default: "delete association"), asso_path(@asso), class: "call-to-action btn-medium btn", method: :delete, data: { confirm: "Are you sure?" } %><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
