<div class="modal fade" id="disconnect" tabindex="4" role="dialog" aria-labelledby="Connection" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="connection">Déconnection</h2>
        <div class="modal-body">
          <div class="notifications-number">
            <%= link_to pluralize(Notification.unread_count(current_user), "Notifications"), notifications_path %>
          </div>
          <div class="connection">
            <%= link_to main_app.destroy_user_session_path, method: :delete do %>
              <h4 class="btn btn-medium"><%= t(".sign_out", default: "SIGN OUT") %></h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="connect" tabindex="4" role="dialog" aria-labelledby="Connection" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="connection">Connection</h2>
        <div class="modal-body">
          <div class="connection">
            <%= link_to t(".sign_up", default: "SIGN UP"), new_user_registration_path, class: "btn btn-medium" %>
            <%= link_to t(".sign_in", default: "SIGN IN"), new_user_session_path, class: "btn btn-medium" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


