<div class="container ">
  <div class="container footer footer-fixed">
    <%= link_to artists_path do %>
      <i class="fa fa-users network-nav"></i>
    <% end %>
    <%= link_to assos_path do %>
      <i class="fa fa-share-alt network-nav"></i>
    <% end %>
    <%= link_to places_path do %>
      <i class="fa fa-beer network-nav"></i>
    <% end %>
    <%= link_to releases_path do %>
      <i class="fa fa-caret-square-o-right network-nav"></i>
    <% end %>
    <%= link_to performances_path do %>
      <i class="fa fa-heartbeat network-nav"></i>
    <% end %>
    <%= link_to videos_path do %>
      <i class="fa fa-youtube network-nav"></i>
    <% end %>
  </div>
  <div class="container footer-legends footer-fixed-legends">
    <p class="text">Artistes </p>
    <p class="text">Structures </p>
    <p class="text">Salles</p>
    <p class="text">Prods</p>
    <p class="text">Concerts</p>
    <p class="text">Videos</p>
  </div>
</div>

