<div class="icons-group">
  <%= link_to "https://www.facebook.com/modernboxrecords/?ref=br_rs", :target => "_blank"  do %>
    <i class="fa fa-facebook-square icons_2"></i>
  <% end %>
  <%= link_to "https://www.instagram.com/modernboxrecords/", :target => "_blank"  do %>
    <i class="fa fa-instagram icons_2"></i>
  <% end %>
  <%= link_to "https://soundcloud.com/modern-box", :target => "_blank"  do %>
    <i class="fa fa-soundcloud icons_2"></i>
  <% end %>
  <%= link_to "https://www.youtube.com/channel/UCD-V4n6eugETPlfr16DqM_Q?view_as=subscriber", :target => "_blank"  do %>
    <i class="fa fa-youtube-square icons_2"></i>
  <% end %>
  <%= link_to "https://twitter.com/Modern_box_rec", :target => "_blank"  do %>
    <i class="fa fa-twitter-square icons_2"></i>
  <% end %>
</div>
