<div class="navbar-wagon navbar-wagon-fixed">
  <div class="navbar-item col-xs-10 col-sm-10 col-md-1 col-lg-1">
    <div class="logo">
      <%= link_to main_app.root_path do %>
        <%= cl_image_tag("logo_MBRecords_petit_ibexlh.png", :quality=>"jpegmini", :sign_url=>true) %>
      <% end %>
    </div>
  </div>

  <div class="navbar-item hidden-xs hidden-sm col-md-12 col-lg-9 ">
    <div class="group-label-nav">
      <%= link_to 'ROCK MAP', main_app.pages_rock_map_path, class: "label-nav" %>
      <%= link_to 'NEWS', main_app.actus_path, class: "label-nav" %>
      <%= link_to 'ARTISTS', main_app.signed_artists_path, class: "label-nav" %>
      <%= link_to 'RELEASES', main_app.signed_releases_path, class: "label-nav" %>
      <%= link_to 'VIDEOS', main_app.signed_videos_path, class: "label-nav" %>
      <%= link_to 'CONCERTS', main_app.performances_path, class: "label-nav" %>
    </div>
  </div>

  <div class="navbar-item navbar-links hidden-xs hidden-sm hidden-md col-lg-3">
    <a href="https://www.facebook.com/modernboxrecords/?ref=br_rs" target = "_blank"><i class="fa fa-facebook-square on-nav" aria-hidden="true"></i>
    <a href="https://www.instagram.com/modernboxrecords/" target = "_blank"><i class="fa fa-instagram on-nav" aria-hidden="true"></i>
    <a href="https://soundcloud.com/modern-box" target = "_blank"><i class="fa fa-soundcloud on-nav" aria-hidden="true"></i>
    <a href="https://www.youtube.com/channel/UCD-V4n6eugETPlfr16DqM_Q?view_as=subscriber" target = "_blank"><i class="fa fa-youtube-play on-nav" aria-hidden="true"></i>
    <a href="https://twitter.com/Modern_box_rec" target = "_blank"><i class="fa fa-twitter-square on-nav" aria-hidden="true"></i>
    <%= link_to main_app.pages_chat_path do %>
      <i class="fa fa-commenting on-nav" ></i>
    <% end %>
  </div>

  <div class="hidden-xs hidden-sm col-lg-2">
    <div class="btn btn-medium-white" data-toggle="modal" data-target="#connect">CONNEXION</div>
  </div>

  <div class="navbar-item trigger">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle hidden-lg hidden-md col-xs-2 col-sm-2" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% unless user_signed_in? %>
          <li>
            <%= link_to main_app.new_user_session_path do %>
              <i class="fa fa-user-circle" ></i> <%= t(".index_user", default: "USER") %>
            <% end %>
          </li>
          <% else %>
          <li>
            <%= link_to main_app.action_users_path do %>
              <i class="fa fa-user-circle" ></i> <%= t(".index_user_known", default: "USER") %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to main_app.pages_rock_map_path do %>
            <i class="fa fa-globe"></i> <%= t(".index_label", default: "ROCK MAP") %>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.actus_path do %>
            <i class="fa fa-newspaper-o"></i> <%= t(".index_news", default: "NEWS") %>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.signed_artists_path do %>
            <i class="fa fa-users"></i> <%= t(".index_artist", default: "ARTISTS") %>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.signed_releases_path do %>
            <i class="fa fa-headphones"></i> <%= t(".index_release", default: "PRODS") %>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.signed_videos_path do %>
            <i class="fa fa-youtube-play"></i> <%= t(".index_video", default: "VIDEOS") %>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.performances_path do %>
            <i class="fa fa-calendar"></i> <%= t(".index_event", default: "EVENEMENTS") %>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.pages_chat_path do %>
            <i class="fa fa-commenting"></i> <%= t(".chat", default: "CHAT") %>
          <% end %>
        </li>

        <% if user_signed_in? %>
          <li>
            <%= link_to main_app.destroy_user_session_path, method: :delete do %>
              <i class="fa fa-times-circle" ></i> <%= t(".index_out", default: "QUIT") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



