<ul class="topnav">
  <li>
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo_7.png" %>
      <% end %>
    </div>
  </li>
  <li class="browsing">
    <%= link_to "INTRODUCTION", pages_introduction_path %>
  </li>
  <li class="browsing">
    <%= link_to "ARTISTS", signed_artists_path %>
  </li>
  <li class="browsing">
    <%= link_to "RELEASES", signed_releases_path %>
  </li>
  <li class="browsing">
    <%= link_to "NEWS", actus_path %>
  </li>
  <li class="browsing">
    <%= link_to "SHOP", shops_path %>
  </li>
  <% if user_signed_in? %>
    <li class="browsing">
      <%= link_to "USER", current_user %>
    </li>
    <li class="browsing">
      <%= link_to "ADMIN", rails_admin_path %>
    </li>
  <% end %>
  <li class="right"><a href="#about">About</a></li>
</ul>

