<div class="container">
  <div class="row">
    <div class="navbar-wagon navbar-wagon-fixed">
      <div class="navbar-item col-xs-10 col-sm-10 col-md-1 col-lg-1">
        <div class="logo">
          <%= link_to main_app.root_path do %>
            <%= cl_image_tag("logo_9_aiamw0.png", :quality=>"jpegmini:1", :sign_url=>true) %>
          <% end %>
        </div>
      </div>
      <div class="navbar-item col-md-9 col-lg-8 hidden-xs hidden-sm">
        <div class="group-label-nav">
          <%= link_to 'NEWS', main_app.actus_path, class: "label-nav" %>
          <%= link_to 'ARTISTS', main_app.signed_artists_path, class: "label-nav" %>
          <%= link_to 'RELEASES', main_app.signed_releases_path, class: "label-nav" %>
          <%= link_to 'SHOP', main_app.shops_path, class: "label-nav" %>
          <%= link_to 'VIDEOS', main_app.videos_path, class: "label-nav" %>
          <%= link_to 'CONCERTS', main_app.performances_path, class: "label-nav" %>
          <i class="fa fa-users label-nav"  data-toggle="modal" data-target="#connect"></i>
        </div>
      </div>

      <div class="navbar-item trigger">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle hidden-lg hidden-md col-xs-2 col-sm-2" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% unless user_signed_in? %>
              <li>
                <%= link_to main_app.new_user_session_path do %>
                  <i class="fa fa-user-circle" ></i> <%= t(".index_user", default: "USER") %>
                <% end %>
              </li>
              <% else %>
              <li>
                <%= link_to main_app.action_users_path do %>
                  <i class="fa fa-user-circle" ></i> <%= t(".index_user", default: "USER") %>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to main_app.performances_path do %>
                <i class="fa fa-calendar"></i> <%= t(".index_event", default: "EVENEMENTS") %>
              <% end %>
            </li>
            <li>
              <%= link_to main_app.releases_path do %>
                <i class="fa fa-headphones"></i> <%= t(".index_release", default: "PRODS") %>
              <% end %>
            </li>
            <li>
              <%= link_to main_app.videos_path do %>
                <i class="fa fa-youtube-play"></i> <%= t(".index_video", default: "VIDEOS") %>
              <% end %>
            </li>
            <li>
              <%= link_to main_app.pages_concept_path do %>
                <i class="fa fa-diamond"></i> <%= t(".index_label", default: "MODERN BOX") %>
              <% end %>
            </li>
            <li>
              <%= link_to main_app.actus_path do %>
                <i class="fa fa-newspaper-o"></i> <%= t(".index_news", default: "NEWS") %>
              <% end %>
            </li>
            <li>
              <%= link_to main_app.signed_artists_path do %>
                <i class="fa fa-users"></i> <%= t(".index_artist", default: "ARTISTS") %>
              <% end %>
            </li>
            <li>
              <%= link_to main_app.signed_releases_path do %>
                <i class="fa fa-headphones"></i> <%= t(".index_release", default: "PRODS") %>
              <% end %>
            </li>
            <li>
              <%= link_to main_app.shops_path do %>
                <i class="fa fa-shopping-bag"></i> <%= t(".index_shop", default: "STORE") %>
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to main_app.destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-times-circle" ></i> <%= t(".index_out", default: "QUIT") %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="navbar-item navbar-links col-md-3 col-lg-3">
        <div class="hidden-xs hidden-sm">
          <a href="https://www.facebook.com/modernboxrecords/?ref=br_rs" target = "_blank"><i class="fa fa-facebook-square on-nav" aria-hidden="true"></i>
          <a href="https://www.instagram.com/modernboxrecords/" target = "_blank"><i class="fa fa-instagram on-nav" aria-hidden="true"></i>
          <a href="https://soundcloud.com/modern-box" target = "_blank"><i class="fa fa-soundcloud on-nav" aria-hidden="true"></i>
          <a href="https://www.youtube.com/channel/UCD-V4n6eugETPlfr16DqM_Q?view_as=subscriber" target = "_blank"><i class="fa fa-youtube-square on-nav" aria-hidden="true"></i>
          <a href="https://twitter.com/Modern_box_rec" target = "_blank"><i class="fa fa-twitter-square on-nav" aria-hidden="true"></i>
          <%= link_to main_app.rails_admin_path do %>
            <i class="fa fa-lock on-nav"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



