<div class="navbar-wagon-fixed">
<!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag "mb_logo_web.jpg" %>
  <% end %>
    <div class="content">
  <!-- Right Navigation -->
      <div class="web-browsing hidden-xs hidden-sm hidden-md">
        <%= link_to "On stage", signed_artists_path, {class: "navbar-item navbar-wagon-link"}%>
        <%= link_to "Releases", releases_path, class: "navbar-item navbar-wagon-link" %>
        <%= link_to "News", actus_path, class: "navbar-item navbar-wagon-link" %>
        <%= link_to "Shop", shops_path, class: "navbar-item navbar-wagon-link" %>
        <%= link_to "People", artists_path, {class: "navbar-item navbar-wagon-link"} %>
      </div>
    </div>
    <div class="networks">
      <div class="links hidden-xs hidden-sm hidden-md">
        <!-- Avatar with dropdown menu -->
          <% if user_signed_in? %>
            <%= link_to current_user do %>
              <i class="fa fa-user-circle networks-item"></i>
            <% end %>
            <%= link_to rails_admin_path do %>
              <i class="fa fa-unlock-alt networks-item" ></i>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out networks-item"></i>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in networks-item"></i>
            <% end %>
          <% end %>
      </div>
    </div>
    <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-item hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to signed_artists_path do %>
            <i class="fa fa-beer"></i>" <%= t(".index", default: "Label") %>
          <% end %>
        </li>
        <li>
          <%= link_to releases_path do %>
            <i class="fa fa-handshake-o"></i> <%= t(".index", default: "Releases") %>
          <% end %>
        </li>
        <li>
          <%= link_to actus_path do %>
            <i class="fa fa-newspaper-o"></i>  <%= t(".index", default: "News") %>
          <% end %>
        </li>
        <li>
          <%= link_to shops_path do %>
            <i class="fa fa-shopping-bag"></i>  <%= t(".index", default: "Shop") %>
          <% end %>
        </li>
        <li>
          <%= link_to artists_path do %>
            <i class="fa fa-music"></i>" <%= t(".index", default: "People") %>
          <% end %>
        </li>
    <% if user_signed_in? %>
        <li>
            <%= link_to current_user do %>
              <i class="fa fa-user-circle"></i> <%= t(".index", default: "home") %>
            <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".index", default: "Quit") %>
          <% end %>
        </li>
        <li>
          <%= link_to rails_admin_path do %>
            <i class="fa fa-unlock-alt" ></i>" <%= t(".index", default: "Admin") %>
          <% end %>
        </li>

    <% else %>

      <li>
        <%= link_to new_user_session_path do %>
          <i class="fa fa-sign-in"></i>" <%= t(".index", default: "Log in") %>
      </li>
    <% end %>
    <% end %>
      </ul>
    </div>
  </div>
</div>




