<div class="card">
  <h2><%= @performance.city %></h2>
  <h2><%= @performance.place_address %></h2>
  <h2><%= @performance.price %></h2>
  <h2><%= @performance.start_time.strftime('%d %m %y') %></h2>
  <h2><%= @performance.facebook_event %></h2>
</div>
