<div class="container in">
  <div class="row">
    <div class="[col-md-offset-4 col-lg-6 ]">
      <div class="[ info-card ]">
        <%= cl_image_tag @performance.artist.photo, height: 500, crop: :fill, class: "style_image"%>
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1><%= @performance.artist.name.capitalize %></h1>
            <h3><%= t(".city") %> :<%= @performance.city  %></h3>
            <h3><%= @performance.place_address %> </h3>
            <h3><%= @performance.price %> </h3>
            <h3><%= @performance.start_time.strftime('%d %m %y')%></h3>
          </div>
          <%= cl_image_tag @performance.artist.photo, height: 200, crop: :fit , class: "style_image"%>
        </div>
      </div>
    </div>
    <div class="[col-md-offset-4 col-lg-6 ]">
      <% if @performance.facebook_event.present? %>
        <div class="[ info-card ]">
          <%= link_to @performance.facebook_event, target: :_blank do %>
            <i class="fa fa-facebook-square [ social-icon facebook ] animate"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="option">
  <% if @performance.artist.user == current_user  %>
    <%= link_to t(".update", default: "Update performance"), edit_performance_path, class: "call-to-action btn-medium btn" %>
    <%= link_to t(".destroy", default: "delete performance"), method: :destroy, class: "call-to-action btn-medium btn" %>
  <% end %>
</div>
