<div class="card">
  <div class="negative">
    <%= @release.title.capitalize %>
  </div>
  <br>
  <div class="container in">
    <div class="row">
      <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
        <div class="[ info-card ]">
          <%= cl_image_tag @release.photo, height: 500, crop: :fit %>
          <div class="[ info-card-details ] animate">
            <div class="[ info-card-header ]">
              <h3><%= @release.artist.name %></h3>
              <h3><%= @release.record.name %></h3>
              <h3><%= t(".out_from") %> <%= @release.year_of_creation %></h3>
              <h3><%= @release.price %>Euros</h3>
            </div>
            <%= cl_image_tag @release.photo, height: 200, crop: :fit , class: "style_image img-responsive"%>
            <div class="option">
              <% if @release.artist == current_user.artist  %>
                <%= link_to t(".update", default: "Update release"), edit_release_path, class: "call-to-action btn-medium btn" %>
                <%= link_to "Delete", release_path(@release), method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>              <!-- Description -->
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <% if @release.youtube_link.present? %>
        <div class="[ info-card ]">
          <%= link_to @release.youtube_link do %>
            <i class="fa fa-youtube-square [ social-icon facebook ] animate"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="[ col-sm-12 col-md-offset- col-lg-6 ]">
      <% if @release.bandcamp_link.present? %>
        <div class="[ info-card ]">
          <%= link_to @release.bandcamp_link do %>
            <i class="fa fa-bandcamp [ social-icon facebook ] animate"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

