<% if @artist.user == current_user %>
  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <i class="fa fa-facebook-square social-links"></i>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.instagram.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-instagram social-links icon" data-toggle="modal" data-target="#insta"></i>
        <%= link_to @artist.instagram.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.instagram.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#insta">
      <i class="fa fa-instagram social-links"></i>
        Cliquez ici pour ajouter Instagram
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.soundcloud.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-soundcloud social-links icon" data-toggle="modal" data-target="#soundcloud"></i>
        <%= link_to @artist.soundcloud.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.soundcloud.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#soundcloud">
      <i class="fa fa-soundcloud social-links icon"></i>
        Cliquez ici pour ajouter Soundcloud
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.twitter.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-twitter social-links icon" data-toggle="modal" data-target="#twitter"></i>
        <%= link_to @artist.twitter.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.twitter.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#twitter">
      <i class="fa fa-twitter social-links icon"></i>
        Cliquez ici pour ajouter Twitter
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
    <% if @artist.youtube.present? %>
      <div class="url modal-trigger">
        <i class="fa fa-youtube-play social-links icon" data-toggle="modal" data-target="#youtube"></i>
        <%= link_to @artist.youtube.link, class: "social-links", target: :blank do %>
          <%= "#{@artist.youtube.link}" %>
        <% end %>
      </div>
    <% else %>
      <div class="url modal-trigger" data-toggle="modal" data-target="#youtube">
      <i class="fa fa-youtube-play social-links icon"></i>
        Cliquez ici pour ajouter Youtube
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <i class="fa fa-bandcamp social-links"></i>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <i class="fa fa-web social-links"></i>
  </div>

<% else %>
  <% if @artist.facebook_link.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.facebook_link, target: :_blank do %>
        <i class="fa fa-facebook-square social-links icon"></i>
      <% end %>
    </div>
  <% end %>

  <% if @artist.instagram.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.instagram.link, target: :_blank do %>
        <i class="fa fa-instagram social-links icon"></i>
      <% end %>
    </div>
  <% end %>
  <% if @artist.soundcloud_link.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.soundcloud_link, target: :_blank do %>
        <i class="fa fa-soundclound social-links icon"></i>
      <% end %>
    </div>
  <% end %>
  <% if @artist.twitter_link.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.twitter_link, target: :_blank do %>
        <i class="fa fa-twitter social-links icon"></i>
      <% end %>
    </div>
  <% end %>
  <% if @artist.youtube_channel.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.soundcloud_link, target: :_blank do %>
        <i class="fa fa-youtube-play social-links icon"></i>
      <% end %>
    </div>
  <% end %>
  <% if @artist.bandcamp_link.present? %>
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
      <%= link_to @artist.bandcamp_link, target: :_blank do %>
        <i class="fa fa-bandcamp social-links icon"></i>
      <% end %>
    </div>
  <% end %>
<% end %>

