<div class="white"></div>
<div class="page-title top"><%= t(".title", default: "Concept")%></div>
<div class="banner">
  <div class="container banner-content">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="col-sm-11 col-md-12 col-lg-12 intro-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1508845558/mbhujdjlzwroiboys1dy.jpg');">
        </div>
        <h3><%= t(".function_1", default: "A CLASSICAL ROCK LABEL")%></h3>
        <p class="arguments"><%= t(".step_1", default: "Production and promotion of releases.")%><br>
        <%= t(".step_2", default: "Communication and event making.")%><br>
        <%= t(".facility", default: "Send your demos to modernboxrecords@gmail.com.")%><br>
        <%= t(".step_3", default: "An answer under one month.")%>
        </p>
          <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="col-sm-11 col-md-12 col-lg-12 intro-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1510177517/guitar_ow5t9i.jpg');">
        </div>
        <h3><%= t(".function_2", default:"BE PART OF THE GROWING NETWORK")%></h3>
        <p class="arguments"><%= t(".step_22", default: "Create a band, asso or place profil.")%><br>
        <%= t(".facility_2", default: "Take your next events or problems easy thanks to the network")%><br>
        <%= t(".step_32", default: "Assos profils stand for multipurpose")%>
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="col-sm-11 col-md-12 col-lg-12 intro-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1508845668/p17wdpgwegxf8gxgbrvf.jpg');">
        </div>
        <h3><%= t(".function_3", default:"MAKE THE SCENE ALIVE!")%></h3>
        <p class="arguments"><%= t(".step_13", default: "Add concerts to your band profil.")%><br>
        <%= t(".step_23", default: "everything appears on our big calendar!")%>
        <br>
        <%= t(".facility_3", default: "Get in touch with the scene and try to fill the blanks!")%>
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="col-sm-11 col-md-12 col-lg-12 intro-card last-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1510239252/r8xviqlxqhc34kcm0km6.png');">
        </div>
        <h3><%= t(".function_4", default:"A BOOKING SOLUTION")%></h3>
        <p class="arguments">You're an association or a place<br>
        <%= t(".step_14", default: "The scene needs to know about you?")%><br>
        <%= t(".facility_4", default: "Make a profil and and get efficient like never")%>
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium last-item" %>
      </div>
    </div>
  </div>
</div>





