<div class="front">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/da2krghvd/image/upload/s--FcDaVp61--/q_jpegmini/v1510239252/r8xviqlxqhc34kcm0km6.png);">
    <div class="banner-content">
      <div class="slogan">
        <h3 class="hook">//<%= t(".slogan", default: "A ROCK LABEL THAT CARE ABOUT THE SCENE") %>\\</h3>
        <h5><br>
          <%= t(".introduction", default: "Modern box records is a ROCK Label & a growing network" )%><br><%= t(".action", default: "where you can create your own band, releases, shows or booking activity") %><br><%= t(".method", default: "sharing the links to your official pages") %><br><%= t(".go", default: "since you're involved in any kind of rock.") %>
        </h5>
        <%= render'shared/links' %>
          <br>
        <%= link_to t(".sign_up", default: "SIGN UP"), new_user_registration_path, class: "btn btn-medium" %>
        <%= link_to t(".sign_in", default: "SIGN IN"), new_user_session_path, class: "btn btn-medium" %>
        <br>
        <%= link_to t(".learn_more", default: "LEARN MORE"), pages_how_it_works_path, class: "btn btn-medium" %>
      </div>
        <br>
      <div class="copyright">
        © Modern Box Records, All Rights Reserved.
      </div>
    </div>
  </div>
</div>

