
  <div class="banner" style="background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1542990996/gskeecqdnrhxp9crdjny.jpg');">
    <div class="banner-content">
      <h1>MODERN BOX RECORDS</h1>
      <p>Ne perds plus d'occasion de monter des plateaux</p>
      <div class="btn btn-medium-white" data-toggle="modal" data-target="#connect">CONNEXION</div>
    </div>
  </div>
<div class="index-wallpapers">
  <div class="container">
    <h1 class="home-title">
      MODERN BOX RECORDS
    </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <h2 class="section-title-left">
            LAST NEWS
        </h2>
        <hr class="section">
        <% if @actus.present? %>
          <% @actus.each do |actu| %>
            <%= link_to actu do %>
              <div class="last-news-card">
                <div class="last-news-picture">
                  <div class="row">
                    <div class="col-md-12 col-lg-12 line">
                      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <%= image_tag actu.photo, height: 120, width: 120, crop: :fill, class: "img" %>
                      </div>
                      <div class="col-md-9 col-lg-9">
                        <div class="last-news-title">
                          <%= actu.title.upcase %>
                        </div>
                        <div class="last-news-edition">
                          <%= actu.edition %>
                        </div>
                        <hr class="separation">
                        <div class="last-news-description">
                          <%= actu.description %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="section-title-left">
              NEW ARTISTS
            </h2>
            <hr class="section">

            <% if @artists.present? %>
              <% @artists.each do |artist| %>
                <div class="artists-samples col-xs-4 col-sm-4 col-md-3 col-lg-3 ">
                    <%= link_to signed_artists_path do %>
                    <%= image_tag artist.photo, height: 140, width: 140, crop: :fill, class: "img-responsive" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="section-title-left">
              NEW RELEASES
            </h2>
            <hr class="section">

            <% if @releases.present? %>
              <% @releases.each do |release| %>
                <div class="releases-samples col-xs-4 col-sm-4 col-md-3 col-lg-3 ">
                  <%= link_to signed_releases_path do %>
                    <%= image_tag release.photo, height: 140, width: 140, crop: :fill, class: "img-responsive" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <%= cl_image_tag("Admin/logo_sign_up.png", class: "img-responsive") %>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 connection">
        <%= link_to t(".sign_up", default: "SIGN UP"), new_user_registration_path, class: "btn btn-medium-white" %>
        <%= link_to t(".sign_in", default: "SIGN IN"), new_user_session_path, class: "btn btn-medium-white" %>
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false">
          </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h2 class="section-title-right">
          NEW VIDEOS
        </h2>
        <% if @videos.present? %>
          <% @videos.each do |video| %>
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
              <div class="videos-samples">
                <iframe src='https://www.youtube.com/embed/<%= video.youtube_link[32..80] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' height='300' width='400' class='img-responsive' frameborder='0' allowfullscreen></iframe>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>

