<div class="front">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/s--8nxi3HAK--/q_jpegmini/v1505755372/corey-blaz-5003_sp9w4e.jpg');">
    <div class="banner-content">
      <div class="slogan">
        <h3>//A ROCK LABEL THAT CARE ABOUT THE SCENE\\</h3>
        <h5><br>
          Modern box records is a ROCK Label & a growing network <br> where you can create your own band, releases, shows or booking activity <br> sharing the links to your official pages <br> since you're involved in any kind of rock.
        </h5>
          <br>
        <%= render'shared/links' %>
        <%= link_to 'sign in', new_user_session_path, class: "btn btn-medium" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row advantages">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <%= cl_image_tag ("pyi1tstskx7n5s41xnua.jpg"), effect: "grayscale", height: 500, width: 1000, crop: :fill, class: "img-responsive" %>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Get into the network!</h3>
        <p class="arguments">Create your band and releases.<br>
        Add your official pages on your band profil.<br>
        Create your city web crew and get discovered or booked for a next show.
        </p>
      </div>
    </div>
    <div class="row advantages">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>A booking solution</h3>
        <p class="arguments">Manage your booking activity!<br>
        Discover new bands thanks to our search engine.<br>
        Check their networks and communication tools to feed your own network.
        </p>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <%= cl_image_tag ("rpe7681uupk1akkqtbvi.jpg"), effect: "grayscale", height: 500, width: 1000, crop: :fill, class: "img-responsive" %>
      </div>
    </div>
    <div class="row advantages">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <%= cl_image_tag ("ehtawptlypoe4teryneg.jpg"), effect: "grayscale", height: 500, width: 1000, crop: :fill, class: "img-responsive" %>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Make the scene alive!</h3>
        <p class="arguments">Get easily in touch with your scene.<br>
        Learn how to make a good communication thank to the network.<br>
        Find your mates and create a show.
        </p>
      </div>
    </div>
    <div class="row advantages">
      <div class="col-sm-4 col-md-4 col-lg-4 ">
        <h3>Avoid logistical problems!</h3>
        <p class="arguments">Some band isn't available anymore?<br>
        The place you planned a concert is unavailable or whatever?<br>
        Find your solution at the very last minute on the network
        </p>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <%= cl_image_tag ("guitar_ow5t9i.jpg"), effect: "grayscale", height: 500, width: 1000, crop: :fill, class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

