<div class="introduction">
  <div class="container">
    <div class="page-title">How It Works</div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-8 intro-card advantages" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1510239326/pyi1tstskx7n5s41xnua.jpg');">
        <%= link_to artists_path do %>
          <i class="fab fa fa-users"></i>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 advantages">
        <h3>GET INTO THE NETWORK!</h3>
        <p class="arguments">Create your own band profil.<br>
        And add your official pages on it.<br>
        Create your crew and get booked for a next show.
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 advantages">
        <h3>LET US KNOW WHAT YOU DO</h3>
        <p class="arguments">Let Modern Box Records know about you.<br>
        Create your releases on your band profil.<br>
        You don't have to upload anything... Just share your links
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-8 intro-card advantages" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1510239300/ehtawptlypoe4teryneg.jpg');">
        <%= link_to releases_path do %>
          <i class="fab fa fa-caret-square-o-right"></i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-8 intro-card advantages" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1508845558/mbhujdjlzwroiboys1dy.jpg');">
        <%= link_to assos_path do %>
          <i class="fab fa fa-heartbeat"></i>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 advantages">
        <h3>MAKE THE SCENE ALIVE!</h3>
        <p class="arguments">Add concerts to your band profil.<br>
        everything appears on our big calendar!
        <br>
        Get in touch with the scene and try to fill the blanks!
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 advantages">
        <h3>A BOOKING SOLUTION</h3>
        <p class="arguments">You're an association or a place<br>
        The scene needs to know about you?<br>
        Make a profil and and get efficient like never
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-8 intro-card advantages" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1510239252/r8xviqlxqhc34kcm0km6.png');">
        <%= link_to assos_path do %>
          <i class="fab fa fa-share-alt"></i>
        <% end %>
        <%= link_to places_path do %>
          <i class="fab fa fa-beer"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>





