<div class="introduction">
  <div class="container">
    <div class="page-title">INTRODUCTION</div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-8 intro-card advantages" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1510239326/pyi1tstskx7n5s41xnua.jpg');">
        <%= link_to artists_path do %>
          <i class="fab fa fa-users"></i>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 advantages">
        <h3>GET INTO THE NETWORK!</h3>
        <p class="arguments">Create your own band profil.<br>
        And add your official pages on it.<br>
        Create your crew and get booked for a next show.
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 advantages">
        <h3>LET US KNOW WHAT YOU DO</h3>
        <p class="arguments">Let Modern Box Records know about you.<br>
        Create your releases on your band profil.<br>
        You don't have to upload anything... Just share your links
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-8 intro-card advantages" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1510239300/ehtawptlypoe4teryneg.jpg');">
        <%= link_to releases_path do %>
          <i class="fab fa fa-caret-square-o-right"></i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-8 intro-card advantages" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1508845558/mbhujdjlzwroiboys1dy.jpg');">
        <%= link_to assos_path do %>
          <i class="fab fa fa-heartbeat"></i>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 advantages">
        <h3>MAKE THE SCENE ALIVE!</h3>
        <p class="arguments">Add concerts to your band profil.<br>
        everything appears on our big calendar!
        <br>
        Get in touch with the scene and try to fill the blanks!
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 advantages">
        <h3>A BOOKING SOLUTION</h3>
        <p class="arguments">You're an association or a place<br>
        The scene needs to know about you?<br>
        Make a profil and and get efficient like never
        </p>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-8 intro-card advantages" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/v1510239252/r8xviqlxqhc34kcm0km6.png');">
        <%= link_to assos_path do %>
          <i class="fab fa fa-share-alt"></i>
        <% end %>
        <%= link_to places_path do %>
          <i class="fab fa fa-beer"></i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-5 mep">
          <h3>Un label</h3>
          <p>Né de l'initiative des membres de <strong>S/LD//T</strong> basés à Bordeaux, Modern Box Records est un label DIY aux ambitions résolument Rock.<br>
          L'objectif est simple... Promouvoir une musique et des artistes de qualité.<br>
          Nos artistes s'occupent de leurs musiques et nous du Networking (en mode DIY).<br>
          <strong>Enregistrements, Vidéos, Photos, Evènementiel...</strong>
          </p>
        </div>
        <div class="col-lg-offset-2 col-lg-5 mep">
          <h3>Un Network</h3>
          <p>Nous proposons en parallèle de développer le réseau des acteurs de la scène rock.<br>
          Inscrivez-vous en tant qu'artiste, asso ou salle de spectacle et renseignez les liens vers vos pages web <br>
          Bénéficiez tous d'une communauté Rock fiable, actualisée, active et grandissante.
          </p>
          <div class="col-lg-12">
            <%= link_to t(".sign_in"), new_user_registration_path, class: "call-to-action btn-medium btn" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 ">
        <div class="col-lg-12 mep">
          <h3>Des Artistes</h3>
          <p>Il s'agit que d'un projet naissant, mais une partie de la scène bordelaise
          nous a déjà confiés de travailler sur leurs prochaines productions.<br>
          Toujours en recherche de nouvelles pépites, nous élargissons notre rayon d'activité en écumant les concerts de la région, à l'ancienne...
          </p>
        </div>
      </div>
    </div>
    <div class="row samples">
      <% @artists.each do |a|%>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="info-card">
            <%= link_to a do %>
              <%= cl_image_tag a.photo, height: 250, width: 400, crop: :fill, class: "style_image img-responsive" %>
            <% end %>
            <div class="info-intro">
              <h1>-<%= a.name.upcase %>-</h1>
              <h1>-<%= a.genre.name %>-</h1>
              <h1>-<%= a.city %>-</h1>
              <%= render 'shared/icons' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-12 mep">
          <h3>Des Releases</h3>
          <p>Là encore les projets sont naissants ; nous éditons en ce moment même notre 3ème  <br>
          Nous sommes également sur un projet de compilation Modern Box Records.<br>
          Tout cela, au service du developpement de notre communauté.
          </p>
        </div>
      </div>
    </div>
    <div class="row samples">
      <% @releases.each do |r|%>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="info-card">
            <%= link_to r do %>
              <%= cl_image_tag r.photo, height: 250, width: 400, crop: :fill, class: "style_image img-responsive" %>
            <% end %>
            <div class="info-intro">
              <h1>-<%= r.artist.name.upcase %>-</h1>
              <h1>-<%= r.genre.name %>-</h1>
              <h1>-<%= r.year_of_creation %>-</h1>
              <%= render 'shared/icons' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-offset-3 col-lg-6 mep">
          <h3>Une Equipe</h3>
          <p>Joan Krugg, créateur et directeur artistique<br>
          Pi pow qui s'occupe des graphismes et visuels statiques.<br>
          Clémence, notre attachée de presse <br>
          Et l'équipe entière s'adonne au visual management, édition de teaser, clips etc
          </p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>





