<div class="wallpaper">
  <div class="container">
    <h1 id="title">Modern Box Records</h1>
    <div class="row mep">
      <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
        <h3>Un label</h3>
        <p>Né de l'initiative des membres de <strong>S/LD//T</strong> basé à Bordeaux, Modern Box Records est un label DIY aux ambitions résolument Rock.<br>
        L'objectif est simple... Promouvoir une musique et des artistes de qualité.<br>
        Nos artistes s'occupent de leurs musiques et nous du Networking (en mode DIY).<br>
        <strong>Enregistrements, Vidéos, Photos, Evènementiel...</strong> sont nos domaines de compétence<br>
        Enfin, nous proposons un plus sur ce site ; inscrivez-vous et renseignez les liens vers vos pages artistes <br>
        Et bénéficions tous d'une communauté Rock fiable, actualisée, active et grandissante
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= link_to t(".sign_in"), new_user_registration_path, class: "call-to-action btn-medium btn" %>
      </div>
    </div>
    <div class="row mep">
      <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
        <h3>Des Artistes</h3>
        <p>Il s'agit que d'un projet naissant, mais une partie de la scène bordelaise<br>
        nous a déjà confiés de travailler sur leurs prochaines productions.<br>
        Toujours en recherche de nouvelles pépites, nous élargissons notre rayon d'activité<br>
        en écumant les concerts de la région, à l'ancienne...
        </p>
      </div>
    </div>
    <div class="row samples">
      <% @artists.each do |a|%>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="info-card">
            <%= link_to a do %>
              <%= cl_image_tag a.photo, height: 250, width: 400, crop: :fill, class: "style_image img-responsive" %>
            <% end %>
            <div class="info">
              <p>-<%= a.name.upcase %>-</p>
              <p>-<%= a.genre.name %>-</p>
              <%= render 'shared/icons' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row mep">
      <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
        <h3>Des Releases</h3>
        <p>Là encore les projets sont naissants ; nous éditons en ce moment même notre 3ème <br>
        Nous sommes également sur un projet de compilation Modern Box Records.<br>
        Tout cela, au service du developpement de notre communauté.
        </p>
      </div>
    </div>
    <div class="row samples">
      <% @releases.each do |r|%>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="info-card">
              <%= link_to r do %>
                <%= cl_image_tag r.photo, height: 250, width: 400, crop: :fill, class: "style_image img-responsive" %>
              <% end %>
              <div class="[ info-card-header ]">
                <p>-<%= r.artist.name.upcase %>-</p>
                <p>-<%= r.genre.name %>-</p>
                <%= render 'shared/icons' %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
    <div class="row mep">
      <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
        <h3>Une Equipe</h3>
        <p>Joan Krugg, créateur et directeur artistique<br>
        Pi pow qui s'occupe des graphismes et visuels statiques.<br>
        Clémence, notre attachée de presse <br>
        Et l'équipe entière s'adonne au visual management, édition de teaser, clips etc
        </p>
      </div>
    </div>
    <br>
    <%= render 'shared/links' %>
  </div>
</div>





