<div class="index-wallpapers">
  <div class="container">
    <h1 class="page-title-search" style="color: white; padding-top: 24px;">
      MODERN BOX ROCK_MAP
    </h1>
  </div>
  <div class="container">
    <div style="color: white;"><i class="fa fa-map-marker blue" aria-hidden="true"></i>  SALLES</div>
    <div style="color: white;"><i class="fa fa-map-marker red" aria-hidden="true"></i>  ARTISTES</div>
    <div style="color: white;"><i class="fa fa-map-marker green" aria-hidden="true"></i>  STRUCTURES</div>
  </div>
  <div class="container">
    <div id='map' style='width: 100%px; height: 700px; margin-bottom: 30px;'></div>
    <% unless user_signed_in? %>
    <p class="call-to-action"> Créez un compte et faîtes figurer votre établissement sur la carte </p>
      <div class="quality">
        <%= link_to new_user_registration_path do %>
          <button class="btn btn-primary">s'incrire sur la carte</button>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rock-map-slogan">
      <h2 class="slogan">
        Une carte pour organiser tes tournées!
      </h2>
    </div>
  </div>
  <div class="container">
    <br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner" style="background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1542990996/gskeecqdnrhxp9crdjny.jpg'); margin-bottom: 30px;">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rock-map-slogan">
      <h2 class="slogan">
        Trouve les contacts utiles avec le moteur de recherche
      </h2>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="concept-card">
        <div class="concept-card-image">
          <%= cl_image_tag("rock-1832605_640_o7je0r.jpg", height: 400, width: 600, crop: :fill , class: "img-responsive")%>
        </div>
        <h3 class="concept-card-title">
          Trouvez des groupes
        </h3>
        <h4 class="concept-card-details">
          <p>Recherchez les par genres</p>
          <p>Recherchez les par ville ou département</p>
          <p>Recherchez les par nombre de musiciens</p>
          <p>Combinez vos critères de recherche</p>
        </h4>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="concept-card">
        <div class="concept-card-image">
          <%= cl_image_tag("stage-2089831_640_iuvcxq.jpg", height: 400, width: 600, crop: :fill , class: "img-responsive")%>
        </div>
        <h3 class="concept-card-title">
          Trouvez des structures
        </h3>
        <h4 class="concept-card-details">
          <p>Recherchez les par genres</p>
          <p>Recherchez les par ville ou département</p>
          <p>Recherchez les par nombre de musiciens max</p>
          <p>Combinez vos critères de recherche</p>
        </h4>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="concept-card">
        <div class="concept-card-image">
          <%= cl_image_tag("concert-1748102_640_a4jbjg.jpg", height: 400, width: 600, crop: :fill , class: "img-responsive")%>
        </div>
        <h3 class="concept-card-title">
          Trouvez des salles
        </h3>
        <h4 class="concept-card-details">
          <p>Recherchez les par genres</p>
          <p>Recherchez les par ville ou département</p>
          <p>Recherchez les par nombre de musiciens max</p>
          <p>Combinez vos critères de recherche</p>
        </h4>
      </div>
    </div>
  </div>

  <div class="container">
    <br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner" style="background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1545239384/hrlald7tz0fmrg3r9fqq.jpg');">
    </div>
  </div>

  <div class="container">
    <br>
    <%= link_to main_app.topics_path do %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rock-map-slogan">
        <h2 class="slogan">
          Ecris et consulte articles, tutos, liens, etc...
        </h2>
      </div>
    <% end %>
  </div>

  <div class="container">
    <br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner" style="background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/s--G_AtFRYu--/c_fill,h_660,q_jpegmini/v1545324736/adult-alcohol-bar-274192_j9tfin.jpg');">
    </div>
  </div>

  <div class="container">
    <br>
    <%= link_to main_app.pages_chat_path do %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rock-map-slogan">
        <h2 class="slogan">
          Vas sur le Chat comme si t'allais au bar!
        </h2>
      </div>
    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>
<script>
  $(document).ready(function() {
    L.mapbox.accessToken = "pk.eyJ1Ijoiam9hbmtydWdnIiwiYSI6ImNqb3NseWR2ZzBwb2kzcm5ycmVnYXd5dnIifQ.eCNL7Ou8iKAbnpZqm4lasA";
    var map = L.mapbox.map('map', 'mapbox.dark').setView([46.7, 3], 6.5);

    $.ajax({
      dataType: 'text',
      url: 'rock_map.json',
      success: function(data) {
        var geojson;
        geojson = $.parseJSON(data);
        return map.featureLayer.setGeoJSON(geojson);
      }
    });
    map.featureLayer.on('layeradd', function(e) {
    var marker, popupContent, properties;
    marker = e.layer;
    properties = marker.feature.properties;
    popupContent = '<div class="popup">' + '<h3>' + properties.name + '</h3>' + '<p>' + properties.address + '</p>' + '</div>';
    return marker.bindPopup(popupContent, {
      closeButton: false,
      minWidth: 320
      });
    });
  });
</script>


