<div class="page-title top">
  MODERN BOX NEWS
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/da2krghvd/image/upload/s--8nxi3HAK--/q_jpegmini/v1505755372/corey-blaz-5003_sp9w4e.jpg');">
  <div class="container banner-content">
    <% @actus.each do |actu|%>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="id-card">
         <%= link_to actu do %>
            <%= cl_image_tag actu.photo, height: 250, width: 250, crop: :fill, class: "img-responsive id-pic" %>
          <% end %>
          <%= actu.title.capitalize %><br>
          <%= actu.description %>
          <%= actu.edition  %>
        </div>
      </div>
    <% end %>
  </div>
</div>

