<% content_for(:title_tag) do %>
  -<%= @actu.title %>- on Modern Box Records
<% end %>
<% content_for(:description) do %>
  <%= @actu.content %>
<% end %>
<div class="container actu">
  <div class="page-title">NEWS</div>
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <%= cl_image_tag @actu.photo, height: 500, width: 1100, crop: :fill , class: "img-responsive"%>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="card-header">
        <h3 style="color: §black"><%= @actu.title.upcase %></h3>
        <h5 style="color: §black"><%= @actu.edition %></h5>
      </div>
      <div class="card-description">
        <h5 style="color: §black"><%= @actu.description %></h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <p style="color: §black"><%= @actu.content %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="card-description">
        <%= link_to "#{@actu.link}", "#{@actu.link}" , target: "_blank" %>
      </div>
    </div>
  </div>
</div>

