<%= simple_form_for @release, url: as_an_asso_release_path, :method => :post, defaults:  { label_html: { class: 'labels' } } do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">
    <%= f.input :title, required: false, label: 'Titre (obligatoire)' %>
    <%= f.association :record, required: false, label: 'Format (obligatoire)' %>
    <%= f.input :price, required: false, collection: 1..20, label: 'Prix (obligatoire)' %>
    <%= f.association :genre, required: false, label: 'Style (obligatoire)' %>
    <%= f.input :year_of_creation, required: false, collection: 1990..2018, label: 'Année de création (obligatoire)' %>
    <%= f.input :description, required: false, input_html: { maxlength: 140 }, label: 'Description' %>
    <%= f.input :youtube_link, label: 'Lien vers page Youtube' %>
    <%= f.input :bandcamp_link, label: 'Lien vers page Bandcamp' %>
    <%= f.input :photo, required: false, label: 'Image (obligatoire)' %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="validate">
      <%= f.button :submit, 'valider', class: "btn btn-medium-white last-item" %>
    </div>
  </div>
<% end %>
