<%= simple_form_for (@release) do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <%= f.input :title %>
    <%= f.association :record %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :creation %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit %>
  </div>
<% end %>
