<div class="index-cards">
  <%= link_to release do %>
    <div class="index-media-card">
      <%= cl_image_tag release.photo, height: 300, width: 400, crop: :fill, class: "image-card img-responsive" %>
      <div class="index-card-logo">
        <%= cl_image_tag("logo_9_aiamw0.png", :quality=>"jpegmini:1", :sign_url=>true) %>
      </div>
      <div class="index-title-card">
        <p class="band-name">-<%= release.title.capitalize %>-</p>
        <p class="overwrite"><%= release.artist.name %></p>
        <p class="overwrite"><%= release.genre.name %></p>
        <p class="overwrite"><%= release.record.name %></p>
      </div>
      <div class="index-action-card">
      </div>
    </div>
  <% end %>
</div>
