<div class="[ info-card ]">
  <%= link_to release do %>
    <%= cl_image_tag release.photo, height: 250, width: 400, crop: :fill, class: "style_image img-responsive" %>
  <% end %>
  <div class="info">
    <h1>-<%= release.title.capitalize %>-</h1>
    <h1>-<%= release.artist.name %>-</h1>
    <h1><%= release.record.name %></h1>
    <h1>Year of creation: <%= release.year_of_creation %></h1>
    <h1><%= release.genre.name %>%></h1>
    <%= render 'shared/icons' %>
  </div>
</div>
