<div class="negative top">
  <div class="release_search form-group">
  <%= form_tag(releases_path, method: :get) do %>
    <%= text_field_tag :search, nil, placeholder: "Search releases ...", class: "form-control" %>
    <%= submit_tag 'Search', style: "display: none;" %>
  <% end %>
  </div>
</div>

<div class="index">
  <div class="row">
    <div class="col-lg-2 left">
      <div class="row">
        <div class="col-lg-4">
          <div class="advertisement">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 center">
      <div class="information">
        <div class="welcome">
          Welcome!
        </div>
      <h5>Perform an action</h5>
      <h5>and get into modern box records' network </h5>
      </div>
      <div class="row">
        <% @releases.each do |release|%>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="[ info-card ]">
                <%= link_to release do %>
                  <%= cl_image_tag release.photo, :effect=>"grayscale", height: 250, width: 400, crop: :fill, class: "style_image img-responsive" %>
              <% end %>
                <div class="info">
                  <h1>-<%= release.title.capitalize%>-</h1>
                  <h1>De <%= release.year_of_creation %></h1>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-2 right">
      <div class="col-lg-12">
        <div class="[ info-card ]">
          <div class="info" id="column">
            <br>
            <h1>Check next</h1>
            <h1>performances</h1>
            <h1>Below!</h1>
          </div>
        </div>
      <% @performances.each do |performance|%>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
          <div class="[ info-card ]">
            <%= link_to performance do %>
              <div class="info" id="perf">
                <h1>-<%= performance.artist.name%>-</h1>
                <h1>-<%= performance.city.capitalize%>-</h1>
                <h1><%= performance.start_time.strftime('%d %B %Y') %></h1>
                <h1><%= performance.place_address %></h1>
                <h1><%= performance.price %></h1>
                <h1><%= performance.facebook_event %></h1>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
