<div class="page-title top">
  MODERN BOX RELEASES
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/da2krghvd/image/upload/v1505755372/corey-blaz-5003_sp9w4e.jpg');">
  <div class="banner-content">
    <div class="highlight" id="slide_1"></div>
    <div class="highlight" id="slide_2">Check The Boxes!!!</div>
    <% @releases.each do |release|%>
      <div class="view col-xs-12 col-lg-6">
        <div class="mask">
          <h2>-<%= release.title.capitalize %>-</h2>
          <h2><%= release.record.name %></h2>
          <p><%= release.artist.name %> <%= t(".plays") %> <%= release.genre.name %></p>
          <%= link_to release do %>
            <p class="info">Read More</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
