<div class="info-card">
  <%= link_to asso do %>
    <%= cl_image_tag asso.photo, height: 250, width: 400, crop: :fill, class: "photo-card img-responsive" %>
  <% end %>
  <div class="info">
    <h1>-<%= asso.name.capitalize %>-</h1>
    <h1><%= t(".city") %>: <%= asso.city %></h1>
    <h1>Loves: <%= asso.genre.name %></h1>
    <h1>Creation in: <%= asso.year_of_creation %></h1>
    <%= render 'shared/icons' %>
  </div>
</div>

