<div class="index-media-card">
  <%= link_to asso do %>
    <%= cl_image_tag asso.photo, height: 300, width: 400, crop: :fill, class: "image-card img-responsive" %>
  <% end %>
  <div class="index-card-logo">
    <%= cl_image_tag("logo_9_aiamw0.png", :quality=>"jpegmini:1", :sign_url=>true) %>
  </div>
  <div class="index-title-card">
    <p class="asso-name">-<%= asso.name.capitalize %>-</p>
    <p><%= asso.city.capitalize %></p>
    <p><%= asso.genre.name %></p>
  </div>
  <div class="index-action-card">
  </div>
</div>

