<div class="row">
  <div class="option">
    <div class="banner-content">
      <% if @asso.user == current_user  %>
        <div class="container actions">
          <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 tabs">
              <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6 active" data-toggle="modal" data-target="#asso">
                Structure
              </h4>
              <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6" data-toggle="modal" data-target="#services">
                Service
              </h4>
              <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6" data-toggle="modal" data-target="#events">
                Evènement
              </h4>
              <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6" data-toggle="modal" data-target="#videos-asso">
                Video
              </h4>
            </div>
          </div>

          <div class="modal fade" id="asso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><%=t(".edit_asso") %></h5>
                  <div class="modal-body">
                    <%= render 'form', asso: @asso %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t(".close") %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="services" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><%=t(".create_service") %></h5>
                  <div class="modal-body">
                    <%= render 'services/form', service: @service %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t(".close") %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="events" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><%=t(".create_performance") %></h5>
                  <div class="modal-body">
                    <%= render 'performances/form_asso', performance: @performance %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t(".close") %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="videos-asso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><%=t(".create_video") %></h5>
                  <div class="modal-body">
                    <%= render 'videos/form_asso', video: @video %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t(".close") %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
