<div class="row">
  <div class="option">
    <div class="banner-content">
      <% if @asso.user == current_user  %>
        <div class="container actions">
          <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 tabs">
              <a class="tab col-lg-3 col-md-3 col-sm-3 col-xs-3 active" data-target="#asso">
                <h5>Asso</h5>
              </a>
              <a class="tab col-lg-3 col-md-3 col-sm-3 col-xs-3" data-target="#services">
                <h5>Services</h5>
              </a>
              <a class="tab col-lg-3 col-md-3 col-sm-3 col-xs-3" data-target="#events">
                <h5>Events</h5>
              </a>
              <a class="tab col-lg-3 col-md-3 col-sm-3 col-xs-3" data-target="#videos-asso">
                <h5>Videos</h5>
              </a>
            </div>
          </div>


          <div class="tab-content" id="asso">
            <div class="mb">
              <div class="action">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                  <p style="color: $black;"><%="Edit my asso"%></p>
                  <%= render 'form', asso: @asso %>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content hidden" id="services">
            <div class="mb">
              <div class="action">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                  <p style="color: $black;"><%="Create a service"%></p>
                  <%= render 'services/form', service: @service %>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content hidden" id="services">
            <div class="mb">
              <div class="action">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                  <p style="color: $black;"><%="Edit my asso"%></p>
                  <%= render 'form', asso: @asso %>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content hidden" id="videos-asso">
            <div class="mb">
              <div class="action">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                  <p style="color: $black;"><%="Create a video"%></p>
                  <%= render 'videos/form', video: @video %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
