<% content_for(:title_tag) do %>
  -<%= @asso.name %>-
<% end %>
<%= render'shared/asso_search' %>
<div class="container card-model">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-7 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7">
      <h1 class= "hidden-lg hidden-md hidden-sm page-title title-top">-<%= @asso.name %>-</h1>
      <div class="info-card">
        <%= cl_image_tag @asso.photo, height: 600, width: 700, crop: :fill, class: "img-responsive"%>
        <div class="info-card-details">
          <h3>-<%= @asso.name.upcase %>-</h3>
          <h5><%= t(".city")%>: <%= @asso.city %></h5>
          <h5> <%= @asso.genre.name %> </h5>
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="info-card productions hidden-xs hidden-sm hidden-md" id="header">
        <%= cl_image_tag @asso.photo, height: 80, width: 100, crop: :fill, class: "img-responsive"%>
      </div>
      <div class="info-card productions" id= "bio">
        <h4>Biography:</h4>
        <p>il faudra ajouter la bio ici</p>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @asso.services.present? %>
      <% @asso.services.each do |service| %>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 asso-items">
          <%= link_to service do %>
            <div class="info-card productions">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <%= cl_image_tag service.photo, height: 100, width: 100, crop: :fill, class: "img-rounded img-responsive" %>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="col-lg-4">
                  <p style="color: black; text-align: left; font-weight: bold">NAME: -<%= service.name %>-</p>
                  <p style="color: black; text-align: left">PRICE: -<%= service.adhesion_fee %>Euros-</p>
                </div>
                <div class="col-lg-8">
                  <p style="color: black; text-align: left"><%= service.description %>-</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <% if @asso.videos.present? %>
      <% @asso.videos.each do |video| %>
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5 asso-items">
          <div class="video">
            <iframe src='https://www.youtube.com/embed/<%= video.youtube_link[32..80] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' height='600' width='760' class='img-responsive' frameborder='0' allowfullscreen></iframe>
          </div>
        </div>
        <%= link_to video do %>
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div class= "lead">
              <div class="productions">
                <h1>-<%= video.title  %>-</h1>
                <h1>-<%= @asso.name  %>-</h1>
                <%= render 'shared/icons' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <% if @asso.performances.present? %>
      <% @asso.performances.each do |performance| %>
        <%= link_to performance do %>
          <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 asso-items">
            <div class="info-card productions">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <%= cl_image_tag performance.photo, height: 100, width: 100, crop: :fill, class: "img-rounded img-responsive" %>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="col-lg-4">
                  <p style="color: black; text-align: left; font-weight: bold">TITLE: -<%= performance.name %>-</p>
                  <p style="color: black; text-align: left">CITY: -<%= performance.city %>-</p>
                  <p style="color: black; text-align: left">ADDRESS: -<%= performance.place_address %>-</p>
                </div>
                <div class="col-lg-4">
                  <p style="color: black; text-align: left">DATE: -<%= performance.start_time %>-</p>
                  <p style="color: black; text-align: left">PRICE: -<%= performance.price %>Euros-</p>
                </div>
                <div class="col-lg-4">
                  <% if performance.facebook_event? %>
                    <%= link_to performance.facebook_event, target: :_blank do %>
                      <i class="fa fa-facebook"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= render 'tabs' %>
</div>
