<% content_for :meta_title, "#{@asso.name} est sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @asso.genre.name %>
<% content_for :meta_image, @asso.photo %>

<div class="show-wallpapers profil-page">
  <div class="container">
    <hr class="user">
    <div class="row">
      <%= render 'tabs' %>
    </div>
    <hr class="user">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <%= cl_image_tag @asso.photo, height: 700, width: 700, crop: :fill, class: "img-responsive"%>
        <div class="quality">
          <%= @asso.name.upcase %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 head">
            <p class="profil-details col-lg-4">Details</p>
            <hr class="user col-lg-6">
            <h1 class="profil-title">Présentation</h1>
            <p class="profil-details"> Style: <%= @asso.genre.name %></p>
            <p class="profil-details"> Nombre de musiciens maximum: <%= @asso.number_of_musicians_max %></p>
            <% if @asso.activity_class.present? %>
              <p class="profil-details"> Type d'activité: <%= @asso.activity_class.name %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 head">
            <p class="profil-details col-lg-4">Localisation</p>
            <hr class="user col-lg-6">
            <h1 class="profil-title">Origine</h1>
            <p class="profil-details"><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= @asso.city.capitalize %></p>
            <p class="profil-details"><%= @asso.county.name%></p>
            <p class="profil-details"><%= @asso.address %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 head">
            <p class="profil-details col-lg-5">Networks</p>
            <hr class="user col-lg-5">
            <h1 class="profil-title">Retrouvez nous sur</h1>
            <%= render 'social_networks' %>
          </div>
        </div>
      </div>
    </div>
    <hr class="user">

    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 ">
        <div class="quality">
          <%= social_share_button_tag(@asso.name, :allow_sites => %w(facebook tumblr pinterest email linkedin twitter), :rel => "modernboxrecords", :url => "https://modernboxrecords.com/assos/#{@asso.id}", :image => "#{@asso.photo}", desc: "#{@asso.address}", via: "Modernboxrecords") %>
        </div>
      </div>
    </div>
    <hr class= "user">


    <div class="row">
      <% if @asso.videos.present? %>
        <div class="col-lg-12">
          <h2 class="show-sections">VIDEOS</h2>
          <hr class="user">
        </div>
        <% @asso.videos.each do |video| %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <div class="main">
              <div class="index-cards video-card">
                <%= link_to video do %>
                  <div class="index-media-card">
                    <iframe src='https://www.youtube.com/embed/<%= video.youtube_link[32..120] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' height='600' width='760' class='img-responsive' frameborder='0' allowfullscreen></iframe>
                  </div>
                  <div class="index-title-card">
                    <p class="band-name"><%= video.asso.name %></p>
                    <p class="overwrite"><%= video.title.upcase  %><p>
                    <%= render 'shared/icons' %>
                  </div>
                  <div class="index-action-card">
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <% if @asso.performances.present? %>
        <div class="col-lg-12">
          <h2 class="show-sections">CONCERTS</h2>
          <hr class="user">
        </div>
        <% @asso.performances.each do |performance| %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <div class="main">
              <%= render 'performances/performance', performance: performance %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <% if @asso.services.present? %>
        <div class="col-lg-12">
          <h2 class="show-sections">SERVICES</h2>
          <hr class="user">
        </div>
        <% @asso.services.each do |service| %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <div class="main">
              <%= render 'services/service', service: service %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <hr class="user">
  </div>
  <%= render 'shared/footer' %>
</div>
