<%= simple_form_for @performance, url: as_an_asso_performance_path, :method => :post, defaults: { label_html: { class: 'labels' } } do |f| %>
  <% if @performance.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">
    <%= f.input :name, required: false, label: "Nom de l'évènement (obligatoire)"%>
    <%= f.input :city, required: false, label: "Ville (obligatoire)" %>
    <%= f.input :start_time, required: false, label: "Date et Heure de Début (obligatoire)" %>
    <%= f.input :place_address, required: false, label: "Adresse (obligatoire)" %>
    <%= f.input :price, required: false, label: "Prix (obligatoire)" %>
    <%= f.input :facebook_event, required: false, label: "Page Facebook de l'évènement (obligatoire)" %>
    <%= f.association :type, required: false, label: "Style" %>
    <%= f.input :photo, required: false, label: "Affiche (obligatoire)" %>
    <div class="quality">
      <%= f.button :submit, 'Valider', class: 'btn btn-large-white' %>
      <button type="button" class="btn btn-large-white-off last-item" data-dismiss="modal">Fermer</button>
    </div>
  </div>
<% end %>
