<div class="index-media-card">
  <%= link_to performance do %>
    <%= cl_image_tag performance.photo, height: 300, width: 400, crop: :fill, class: "image-card img-responsive" %>
  <% end %>
  <div class="index-card-logo">
    <%= cl_image_tag("logo_9_aiamw0.png", :quality=>"jpegmini:1", :sign_url=>true) %>
  </div>
  <div class="index-title-card">
    <p class="band-name"><%= performance.name.capitalize %></p>
    <p class="overwrite"><%= performance.city.capitalize %></p>
    <p class="overwrite">Le <%= performance.start_time.strftime("%d/%m/%Y à %H:%M") %></p>
    <p class="overwrite"><%= performance.price %> Euros</p>
  </div>
  <div class="index-action-card">
  </div>
</div>
