<%= render 'shared/performance_search' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/da2krghvd/image/upload/s--FcDaVp61--/q_jpegmini/v1510239252/r8xviqlxqhc34kcm0km6.png);">
  <div class="banner-content">
    <!--section d'ensemble-->
    <div class="container items">
      <div class="row">
        <% @performances.each do |performance|%>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div class="main">
              <div class="card">
                <div class="info-card">
                  <%= link_to performance do %>
                    <%= cl_image_tag performance.photo, height: 250, width: 400, crop: :fill, class: "style_image img-responsive" %>
                  <% end %>
                  <div class="info" id="release">
                    <h1>-<%= performance.name.capitalize %>-</h1>
                    <h1>-<%= performance.artist.name %>-</h1>
                    <h1><%= performance.city %></h1>
                    <h1><%= performance.start_time %></h1>
                    <h1><%= performance.place_address %></h1>
                    <%= render 'shared/icons' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="paginate">
      <%= will_paginate @performances %>
    </div>
  </div>
</div>



<div class="container calendar">
  <%= month_calendar events: @performances do |date, performances| %>
    <%= date.day %>
      <% performances.each do |performance| %>
        <div>
          <%= performance.artist.name %>
        </div>
      <% end %>
  <% end %>
</div>
