<!--barre de recherche-->
<div class="negative top">
  <div class="performance_search form-group">
  <%= form_tag(performances_path, method: :get) do %>
    <%= text_field_tag :search, nil, placeholder: "Search concerts ...", class: "form-control" %>
    <%= submit_tag 'Search', style: "display: none;" %>
  <% end %>
  </div>
</div>
<!--nav network-->
<%= render 'shared/networknav' %>

<div class="container">
  <div class="row">
    <% @performances.each do |performance|%>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="main">
          <div class="card">
            <div class="[ info-card ]">
              <%= link_to performance do %>
                <div class="info">
                  <h1>-<%= performance.artist.name%>-</h1>
                  <h1>-<%= performance.city.capitalize%>-</h1>
                  <h1><%= performance.start_time.strftime('%d %B %Y') %></h1>
                  <h1><%= performance.place_address %></h1>
                  <h1><%= performance.price %></h1>
                  <h1><%= performance.facebook_event %></h1>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
