<% if @performance.artist.present? %>
  <% content_for(:title_tag) do %>
    -<%= @performance.artist.name %>- on Modern Box Records
  <% end %>
<% end %>
<% if @performance.asso.present? %>
  <% content_for(:title_tag) do %>
    -<%= @performance.asso.name %>- on Modern Box Records
  <% end %>
<% end %>
<% if @performance.place.present? %>
  <% content_for(:title_tag) do %>
    -<%= @performance.place.name %>- on Modern Box Records
  <% end %>
<% end %>
<%= render 'shared/performance_search' %>
<div class="container card-model">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      <h1 class= "hidden-lg hidden-md hidden-sm page-title title-top">-<%=@performance.name.upcase %>-</h1>
      <div class="info-card">
        <%= cl_image_tag @performance.photo, height: 600, width: 760, crop: :fill, class: "style_image img-responsive"%>
        <div class="info-card-details">
          <% if @performance.artist.present? %>
            <h3><%= @performance.artist.name %></h3>
          <% end %>
          <% if @performance.asso.present? %>
            <h3><%= @performance.asso.name %></h3>
          <% end %>
          <% if @performance.place.present? %>
            <h3><%= @performance.place.name %></h3>
          <% end %>
          <h5><%= @performance.city %></h5>
          <h5><%= @performance.start_time.strftime("%m/%d/%Y at %H:%M") %></h5>
          <h5><%= @performance.place_address %></h5>
          <h5><%= @performance.price %>Euros</h5>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 social-card-content">
              <div class="row">
                <% if @performance.facebook_event.present? %>
                  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                    <%= link_to @performance.facebook_event, target: :_blank do %>
                      <i class="fa fa-facebook-square social-logo"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
              <div class="social-card-content">
                <% if @performance.artist.present? %>
                  <%= link_to "Back #{@performance.artist.name}", artist_path(@performance.artist) %>
                <% end %>
                <% if @performance.asso.present? %>
                  <%= link_to "Back #{@performance.asso.name}", asso_path(@performance.asso) %>
                <% end %>
                <% if @performance.place.present? %>
                  <%= link_to "Back #{@performance.place.name}", place_path(@performance.place) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @performance.artist == current_user.artist or @performance.asso == current_user.asso or @performance.place == current_user.place %>
      <div class="option">
        <div class="banner-content">
          <div class="mb">
            <div class="action">
              <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <p style="color: $black;"><%="Edit #{@performance.name}"%></p>
                  <%= render 'performances/form', performance: @performance %>
                  <%= link_to t(".Delete", default: "delete this"), performance_path(@performance), class: "call-to-action btn-medium btn last-item", method: :delete, data: { confirm: "Are you sure?" } %><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

