<%= simple_form_for @place, defaults: { label_html: { class: 'labels' } } do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">

    <%= f.input :name, required: false, placeholder: 'we need one' %>
    <%= f.input :city, required: false, placeholder: 'we need one'%>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :address, required: false, placeholder: 'we need one' %>
    <%= f.association :genre %>
    <%= f.input :facebook_page, required: false, placeholder: 'we need one' %>
    <%= f.button :submit, class: "btn btn-medium last-item" %>
  </div>
<% end %>
