<%= simple_form_for @place, defaults: { label_html: { class: 'labels' } } do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">

    <%= f.input :name, required: false, label: 'Nom (obligatoire)' %>
    <%= f.input :photo, required: false, label: 'Photo (obligatoire)'  %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :city, required: false, label: 'Ville (obligatoire)'%>
    <%= f.association :county, required: false, label: 'Département (obligatoire)' %>
    <%= f.input :address, required: false, label: 'Adresse (obligatoire)' %>
    <%= f.input :phone_number, required: false, label: 'Téléphone' %>
    <%= f.association :genre, required: false, label: 'Style (obligatoire)' %>
    <%= f.input :number_of_musicians_max, required: false, collection: 1..9, label: 'Nombre de musiciens maximum (obligatoire)' %>
    <%= f.association :activity_class, required: false, label: 'Fréquence évènementielle (obligatoire)' %>
    <%= f.input :facebook_page, required: false, label: 'Page Facebook (obligatoire)' %>
    <div class="quality">
      <%= f.button :submit, 'Valider', class: 'btn btn-large-white' %>
      <button type="button" class="btn btn-large-white-off last-item" data-dismiss="modal">Fermer</button>
    </div>
  </div>
<% end %>
