<div class="index-media-card">
  <%= link_to place do %>
    <%= cl_image_tag place.photo, height: 300, width: 400, crop: :fill, class: "image-card img-responsive" %>
  <% end %>
  <div class="index-card-logo">
    <%= cl_image_tag("logo_9_aiamw0.png", :quality=>"jpegmini:1", :sign_url=>true) %>
  </div>
  <div class="index-title-card">
    <p class="place-name"><%= place.name.capitalize %></p>
    <p><%= place.city.capitalize %></p>
    <p><%= place.genre.name %></p>
  </div>
  <div class="index-action-card">

  </div>
</div>
