<% if @place.user == current_user  %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6 clickable" data-toggle="modal" data-target="#place">
          <%= t(".place") %>
        </h4>
        <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6 clickable" data-toggle="modal" data-target="#hardwares">
          <%= t(".hardware") %>
        </h4>
        <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6 clickable" data-toggle="modal" data-target="#events-place">
          <%= t(".performance") %>
        </h4>
        <h4 class="tab col-lg-3 col-md-3 col-sm-3 col-xs-6 clickable" data-toggle="modal" data-target="#videos-place">
          <%= t(".video") %>
        </h4>
      </div>
    </div>

    <div class="modal fade" id="place" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="exampleModalLongTitle"><%= t(".edit_place") %></div>
            <div class="modal-body">
              <%= render 'form', place: @place %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="hardwares" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="exampleModalLongTitle"><%= t(".create_hardware") %></div>
            <div class="modal-body">
              <%= render 'hardwares/form', hardware: @hardware %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="events-place" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="exampleModalLongTitle"><%= t(".create_performance") %></div>
            <div class="modal-body">
              <%= render 'performances/form_place', performance: @performance %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="videos-place" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="exampleModalLongTitle"><%= t(".create_video") %></div>
            <div class="modal-body">
              <%= render 'videos/form_place', video: @video %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="quality">
    <%= link_to 'contacter cette salle', @place.facebook_page, target: :_blank, class: "btn btn-medium" %>
  </div>
<% end %>

