<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= (yield(:description) || "").squish %>">
    <title><%= yield(:title_tag).blank? ? "Modern Box Records" : yield(:title_tag) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="apple-touch-icon" href="https://res.cloudinary.com/da2krghvd/image/upload/c_scale,q_100,w_57/v1510239605/unyyylfxkyjb3y5waqur.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/da2krghvd/image/upload/v1517215472/eeppxdf1ggjyau4q6f5e.jpg" />
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag "application" %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
